# 파이썬의 자료형 (data type)
## 파이썬의 자료형은 동적으로 변화
* int: 정수(소숫점이 없는 숫자)
* float: 실수 (소숫점이 있는 숫자)
* str: 문자/문자열
* list: 여러 개의 자료가 순서대로 저장된 자료형, 모든 자료형을 넣어 만들 수 있음
* tuple: list와 비슷하나 한 번 만들면 수정이 불가함, 모든 자료형을 넣을 수 있음
* dictionary(dict): key : value 쌍으로 이루어진 자료형, 모든 자료형을 넣을 수 있음

# 데이터 타입을 출력하는 함수 type (변수)

# 정수형 변수 (int)

In [1]:
a = 10
print(a)

10

In [7]:
aa = "10"
print(aa)

10

In [8]:
type(a)

int

In [9]:
type(aa)

str

In [12]:
print(a, type(a))

10 <class 'int'>

In [16]:
a = 3.14
print(a, type(a))

3.14 <class 'float'>

In [17]:
a = "삼점일"

In [18]:
b = 5

In [23]:
a * b

'삼점일삼점일삼점일삼점일삼점일'

# 실수형 변수

In [25]:
f = 3.14
print(f, type(f))

3.14 <class 'float'>

In [35]:
a = 1
b = 3
print(a+b)
print(a-b)
print(a*b)
print(a/b) #나눗셈의 결과는 실수

4
-2
3
0.3333333333333333

# 정수형 변수 +, -, *, / 실수형 변수
* 정수형 변수(int)와 실수형 변수(float)를 연산하면 모두 실수(float)

In [29]:
print(a + f) 
print(a - f) 
print(a * f) 
print(a / f)

4.140000000000001
-2.14
3.14
0.3184713375796178

In [33]:
a_plus_f = a+f
a_minus_f = a-f
a_mul_f = a*f
a_div_f = a/f
print("a_plus_f:", a_plus_f, type(a_plus_f))
print("a_minus_f:", a_minus_f, type(a_minus_f))
print("a_mul_f:", a_mul_f, type(a_mul_f))
print("a_div_f:", a_div_f,type(a_div_f))

a_plus_f: 4.140000000000001 <class 'float'>
a_minus_f: -2.14 <class 'float'>
a_mul_f: 3.14 <class 'float'>
a_div_f: 0.3184713375796178 <class 'float'>

# 문자형 str

In [38]:
c = '문'
d = "자"
e = "문자열"

In [40]:
print(c, type(c))
print(d, type(d))
print(e, type(e))

문 <class 'str'>
자 <class 'str'>
문자열 <class 'str'>

In [43]:
long_char = "문자열은 아무리 길이가 길어도 한 줄로 되어 있어야 한다. 줄바꿈이 안 된다."

In [44]:
long_char

'문자열은 아무리 길이가 길어도 한 줄로 되어 있어야 한다. 줄바꿈이 안 된다.'

In [45]:
long_char3 = "문자열은 아무리 길이가 길어도 \
한 줄로 되어 있어야 한다.\
줄바꿈이 안 된다."

In [47]:
long_char3

'문자열은 아무리 길이가 길어도 한 줄로 되어 있어야 한다.줄바꿈이 안 된다.'

In [52]:
long_char4 = "문자열은 아무리 길이가 길어도 \n
한 줄로 되어 있어야 한다.\n
줄바꿈이 안 된다."

SyntaxError: EOL while scanning string literal (3814093650.py, line 1)

In [58]:
long_char5 = """따옴표 3개로 문자열을 감싸면
줄바꿈을 해도 모두 그대로 출력이 된다.
쌍따옴표 3개나 홀따옴표 3개로 감싸면 된다."""

In [59]:
print(long_char5)

따옴표 3개로 문자열을 감싸면
줄바꿈을 해도 모두 그대로 출력이 된다.
쌍따옴표 3개나 홀따옴표 3개로 감싸면 된다.

In [61]:
long_char6 = '''따옴표 3개로 문자열을 감싸면
  줄바꿈을 해도 모두 그대로 출력이 된다.
    쌍따옴표 3개나 홀따옴표 3개로 감싸면 된다.'''

In [71]:
print(long_char6)

따옴표 3개로 문자열을 감싸면
  줄바꿈을 해도 모두 그대로 출력이 된다.
    쌍따옴표 3개나 홀따옴표 3개로 감싸면 된다.

In [72]:
long_char6

'따옴표 3개로 문자열을 감싸면\n  줄바꿈을 해도 모두 그대로 출력이 된다.\n    쌍따옴표 3개나 홀따옴표 3개로 감싸면 된다.'

# 문자 덧셈 + , 문자 반복 *

문자 변수1 + 문자 변수2 = 문자가 합쳐짐

In [67]:
c + d

'문자'

문자나 문자열을 반복하고 싶을 때: 문자 변수 * 숫자

In [69]:
print("-" * 50)

--------------------------------------------------

# 문자열은 순서가 있다.
# 가장 앞글자가 0번부터 순서대로 숫자가 증가

In [73]:
long_char

'문자열은 아무리 길이가 길어도 한 줄로 되어 있어야 한다. 줄바꿈이 안 된다.'

길이를 재는 함수 len()

In [75]:
len(long_char)

43

* 인덱싱 : 변수명 [인덱스번호]
* 슬라이싱 : 변수명 [시작번호:끝번호+1]

In [80]:
long_char[0]

'문'

In [81]:
long_char[14]

'어'

In [79]:
lonh_char[43]

NameError: name 'lonh_char' is not defined

# 리스트 list
* 리스트는 [정수, 실수, 문자, 리스트, 튜플, 딕셔너리] 모두 넣을 수 있다.
* 리스트는 여러 자료가 같이 나열된 형태이므로 순서가 있다.
* 인덱싱, 슬라이싱 가능
* 자료의 추가 삭제가 가능하다.

In [82]:
L = [1, 2.0, "삼", [1, 2, 3], (4, 5, 6), {"key" : "value"}]

In [84]:
L

[1, 2.0, '삼', [1, 2, 3], (4, 5, 6), {'key': 'value'}]

In [86]:
print(L)

[1, 2.0, '삼', [1, 2, 3], (4, 5, 6), {'key': 'value'}]

In [88]:
type(L)

list

* list는 순서가 있는 자료형

In [90]:
L[0]

1

In [91]:
L[1]

2.0

In [93]:
L[4]

(4, 5, 6)

In [94]:
L[3]

[1, 2, 3]

In [95]:
L[3][1]

2

In [101]:
# 중첩 리스트
l2 = [1,2,3, [4, 5, [6, 7, 8, [9, 10]]]]
# 4부터 10까지는 3으로 카운트

In [104]:
len(l2)

4

In [106]:
l2[0]

1

In [108]:
l2[1]

2

In [109]:
l2[2]

3

In [111]:
l2[3]

[4, 5, [6, 7, 8, [9, 10]]]

In [113]:
len(l2[3])

3

In [115]:
l2[3][2]

[6, 7, 8, [9, 10]]

In [118]:
l2[3][2][3]

[9, 10]

In [120]:
l2[3][2][3][0]

9

In [122]:
#리스트 속성 추가
l2.append("append")
l2

[1, 2, 3, [4, 5, [6, 7, 8, [9, 10]]], 'append', 'append']

In [124]:
l2.append("[11,12,13]")
l2

[1,
 2,
 3,
 [4, 5, [6, 7, 8, [9, 10]]],
 'append',
 'append',
 '[11,12,13]',
 '[11,12,13]']

# tuple 튜플
* 여러가지 자료를 () 안에 넣어서 만드는 자료형
* 모든 data type을 자료로 받을 수 있다.
* 한 번 생성하면 수정이 되지 않는다.
* 튜플이 리스트보다 실행시 더 빠르다.

In [125]:
t = (1,)

In [127]:
print(t, type(t))

(1,) <class 'tuple'>

In [129]:
t2 = (10, 34.5, "튜플", [1, 2, 3], (4, 5, 6), {"key" : "value"})
t2

(10, 34.5, '튜플', [1, 2, 3], (4, 5, 6), {'key': 'value'})

In [131]:
print(t2)

(10, 34.5, '튜플', [1, 2, 3], (4, 5, 6), {'key': 'value'})

In [133]:
t2[0]

10

In [136]:
t2[4][1]

5

In [137]:
t2[3][0]

1

In [138]:
t2[0:4]

(10, 34.5, '튜플', [1, 2, 3])

In [139]:
t3 = (1, 2, 3, (4, 5, 6, [7, 8, 9, (10, 11, 12)]))

In [140]:
t3[0]

1

In [141]:
t3[3]

(4, 5, 6, [7, 8, 9, (10, 11, 12)])

In [143]:
t3[3][3][3][1]

11

In [148]:
print("t3:", type(t3))
print("t3[3]:", type(t3[3]))
print("t3[3][3]:", type(t3[3][3]))
print("t3[3][3][3]:", type(t3[3][3][3]))
print("t3[3][3][3][1]:", type(t3[3][3][3][1]))

t3: <class 'tuple'>
t3[3]: <class 'tuple'>
t3[3][3]: <class 'list'>
t3[3][3][3]: <class 'tuple'>
t3[3][3][3][1]: <class 'int'>

# 딕셔너리형 (dict) JSON {"key" : "value"}
* key와 value로 이루어진 데이터형
* json 이라고 불리며 웹상에서 데이터를 주고 받을 때 주로 사용
* 딕셔너리의 value에는 모든 자료형이 올 수 있음
* 딕셔너리는 순서가 없는 자료형
* key를 호출하면 value가 출력됨

In [158]:
dic1 = {'이름': '홍길동', '나이': 33, '키' : 175.4, '가족': ["둘리", "또치", "도우너"]}

In [159]:
dic1

{'이름': '홍길동', '나이': 33, '키': 175.4, '가족': ['둘리', '또치', '도우너']}

In [160]:
print(dic1)

{'이름': '홍길동', '나이': 33, '키': 175.4, '가족': ['둘리', '또치', '도우너']}

In [162]:
dic1['이름']

'홍길동'

딕셔너리의 길이는 key의 갯수

In [164]:
len(dic1)

4

In [168]:
dic2 = {'이름': '홍길동', '나이': 33, '키' : 175.4, '가족': ["둘리", "또치", "도우너", {'신장':[130, 120, 150]}]}

In [171]:
print("dic2['가족']: ", type(dic2['가족']))

dic2['가족']:  <class 'list'>

In [167]:
dic2['가족']

['둘리', '또치', '도우너', {'신장': [130, 120, 150]}]

In [173]:
dic2['가족'][3]

{'신장': [130, 120, 150]}

In [175]:
dic2['가족'][3]['신장']

[130, 120, 150]

In [177]:
dic2['가족'][3]['신장'][1]

120

딕셔너리에 자료추가

In [179]:
dic2['새자료']=(1,2,3)

In [181]:
dic2

{'이름': '홍길동',
 '나이': 33,
 '키': 175.4,
 '가족': ['둘리', '또치', '도우너', {'신장': [130, 120, 150]}],
 '새자료': (1, 2, 3)}

In [184]:
del dic2['가족']

KeyError: '가족'

In [186]:
dic2

{'이름': '홍길동', '나이': 33, '키': 175.4, '새자료': (1, 2, 3)}

In [188]:
dic3 = {'이름' : ['홍길동', '둘리', '또치'], 
       '나이' : (33, 12, 14),
       '성별' : ('남', '남', '남'),
       '주소' : ['서울', '남극', '아프리카']}

In [190]:
dic3

{'이름': ['홍길동', '둘리', '또치'],
 '나이': (33, 12, 14),
 '성별': ('남', '남', '남'),
 '주소': ['서울', '남극', '아프리카']}

In [194]:
import pandas as pd

In [195]:
df = pd.DataFrame(dic3)

In [196]:
df

    이름  나이 성별    주소
0  홍길동  33  남    서울
1   둘리  12  남    남극
2   또치  14  남  아프리카