# 리스트와 튜플 사용하기 초급편

In [1]:
a = 1
b = 2
c = 3
d = 4
e = 5

In [65]:
l = [1, 2, "파이썬", 3.0, [4,5,6], (7,8, "리스트"), True, False]

In [3]:
type(l)

list

# 리스트 만들기
* 대괄호 안에 자료를 나열해서 만듦
* 내용이 비어있는 리스트도 생성 가능
* 자료가 1개만 있는 리스트도 생성 가능

In [5]:
l2 = []
print(l2, type(l2))

[] <class 'list'>

In [7]:
l3 = [1]
print(l3, type(l3))

[1] <class 'list'>

## 리스트 형변환 함수 list()

In [9]:
type(range(1, 10))

range

In [1]:
#1부터 10까지 출력해라
list(range(1, 10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
list(range(2,14))

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [14]:
list((1, 2, 3, 4))

[1, 2, 3, 4]

## 숫자를 생성해주는 range()
* range(시작번호, 끝번호+1,step)

In [15]:
list(range(1,11,2))

[1, 3, 5, 7, 9]

In [16]:
list(range(1,100,4))

[1,
 5,
 9,
 13,
 17,
 21,
 25,
 29,
 33,
 37,
 41,
 45,
 49,
 53,
 57,
 61,
 65,
 69,
 73,
 77,
 81,
 85,
 89,
 93,
 97]

In [3]:
list(range(100,1,-4))

[100,
 96,
 92,
 88,
 84,
 80,
 76,
 72,
 68,
 64,
 60,
 56,
 52,
 48,
 44,
 40,
 36,
 32,
 28,
 24,
 20,
 16,
 12,
 8,
 4]

In [4]:
list(range(100, 22,-2))

[100,
 98,
 96,
 94,
 92,
 90,
 88,
 86,
 84,
 82,
 80,
 78,
 76,
 74,
 72,
 70,
 68,
 66,
 64,
 62,
 60,
 58,
 56,
 54,
 52,
 50,
 48,
 46,
 44,
 42,
 40,
 38,
 36,
 34,
 32,
 30,
 28,
 26,
 24]

# 리스트에 자료 추가하기 .append()

In [66]:
l.append(3)
l

[1, 2, '파이썬', 3.0, [4, 5, 6], (7, 8, '리스트'), True, False, 3]

In [67]:
l.append("append")
l

[1, 2, '파이썬', 3.0, [4, 5, 6], (7, 8, '리스트'), True, False, 3, 'append']

In [68]:
l.append("[1,2,3]")
l

[1,
 2,
 '파이썬',
 3.0,
 [4, 5, 6],
 (7, 8, '리스트'),
 True,
 False,
 3,
 'append',
 '[1,2,3]']

In [69]:
l.append({1,2,3})
l

[1,
 2,
 '파이썬',
 3.0,
 [4, 5, 6],
 (7, 8, '리스트'),
 True,
 False,
 3,
 'append',
 '[1,2,3]',
 {1, 2, 3}]

In [70]:
l.append({'key':'value'})
l

[1,
 2,
 '파이썬',
 3.0,
 [4, 5, 6],
 (7, 8, '리스트'),
 True,
 False,
 3,
 'append',
 '[1,2,3]',
 {1, 2, 3},
 {'key': 'value'}]

# 특정 위치에 자료 추가 .insert()
* insert()

In [71]:
# 인덱스 2번에 정수 3 넣기,, 0부터 카운트
l.insert(2, 3)
l

[1,
 2,
 3,
 '파이썬',
 3.0,
 [4, 5, 6],
 (7, 8, '리스트'),
 True,
 False,
 3,
 'append',
 '[1,2,3]',
 {1, 2, 3},
 {'key': 'value'}]

In [72]:
l.insert(2, "김영훈")
l

[1,
 2,
 '김영훈',
 3,
 '파이썬',
 3.0,
 [4, 5, 6],
 (7, 8, '리스트'),
 True,
 False,
 3,
 'append',
 '[1,2,3]',
 {1, 2, 3},
 {'key': 'value'}]

## 리스트의 자료 삭제하기
* del 변수명[인덱스 번호] : 해당 인덱스 번호의 자료 삭제
* pop() : 리스트의 가장 끝 자료가 출력되면서 삭제됨
* remove(값) : 리스트의 앞부터 일치하는 값 1개를 찾아서 삭제 (정수, 실수 구분 X)

In [73]:
l[7]

(7, 8, '리스트')

In [74]:
del l[7]
l

[1,
 2,
 '김영훈',
 3,
 '파이썬',
 3.0,
 [4, 5, 6],
 True,
 False,
 3,
 'append',
 '[1,2,3]',
 {1, 2, 3},
 {'key': 'value'}]

In [75]:
del l[2]

In [76]:
l

[1,
 2,
 3,
 '파이썬',
 3.0,
 [4, 5, 6],
 True,
 False,
 3,
 'append',
 '[1,2,3]',
 {1, 2, 3},
 {'key': 'value'}]

In [77]:
# 제일 마지막 요소가 삭제됨 인덱스 번호 -1 지정 가능
l.pop()

{'key': 'value'}

In [78]:
l

[1,
 2,
 3,
 '파이썬',
 3.0,
 [4, 5, 6],
 True,
 False,
 3,
 'append',
 '[1,2,3]',
 {1, 2, 3}]

In [81]:
l.remove(3)

In [83]:
l

[1, 2, '파이썬', [4, 5, 6], True, False, 3, 'append', '[1,2,3]', {1, 2, 3}]

## 리스트를 확장하기 .extend()
* 리스트의 자료를 추가하되, 요소만 추가

In [77]:
a = [1, 2, 3]
b = [4, 5, 6]

In [78]:
a.append(b)

In [79]:
a

[1, 2, 3, [4, 5, 6]]

In [80]:
len(a)

4

In [81]:
a[3][0]

4

In [82]:
a.insert(4,b)

In [83]:
a

[1, 2, 3, [4, 5, 6], [4, 5, 6]]

In [84]:
a.extend([7,8,9])
a

[1, 2, 3, [4, 5, 6], [4, 5, 6], 7, 8, 9]

In [85]:
c = [7, 8, 9]

In [86]:
b

[4, 5, 6]

In [87]:
c

[7, 8, 9]

In [88]:
b.extend(c)
b

[4, 5, 6, 7, 8, 9]

## list + list = .extend()를 한 것과 동일

In [89]:
b + c

[4, 5, 6, 7, 8, 9, 7, 8, 9]

## 리스트 안에서 원하는 값의 인덱스 찾기
* in, not in: 리스트 안에 원하는 값이 있는지 확인
* 원하는 값이 있는 위치를 찾을 때 .index(찾을 값)    
* 동일한 값이 여러개 있는 경우 가장 앞의 인덱스를 반환
* 2번째 이상의 자료를 찾으려면 옵션에 시작 인덱스를 지정하면 됨
* .index(찾는 값, 시작 인덱스 번호)

In [90]:
a

[1, 2, 3, [4, 5, 6, 7, 8, 9], [4, 5, 6, 7, 8, 9], 7, 8, 9]

In [91]:
#박스(리스트)를 열어줘야 함
a[3].index(4)

0

In [92]:
a[5]

7

In [93]:
a.extend([1,2,3])

In [94]:
a

[1, 2, 3, [4, 5, 6, 7, 8, 9], [4, 5, 6, 7, 8, 9], 7, 8, 9, 1, 2, 3]

In [95]:
a.index(3)

2

a에서 2번째 3을 찾으세요

In [96]:
a.index(3, 3)

10

In [99]:
a.index(3, 1)

2

## 리스트 안에서 특정 값의 개수 구하기 .count(값)

In [27]:
a

[1, 2, 3, [4, 5, 6, 7, 8, 9], [4, 5, 6, 7, 8, 9], 7, 8, 9, 1, 2, 3]

In [28]:
a.count(4)

0

## 리스트 순서 뒤집기 .reverse()
* 실행 즉시 원본 데이터가 변경됨

In [29]:
a

[1, 2, 3, [4, 5, 6, 7, 8, 9], [4, 5, 6, 7, 8, 9], 7, 8, 9, 1, 2, 3]

In [30]:
a.reverse()

In [31]:
a

[3, 2, 1, 9, 8, 7, [4, 5, 6, 7, 8, 9], [4, 5, 6, 7, 8, 9], 3, 2, 1]

* 인덱싱으로 순서 뒤집기

In [34]:
a[::-1]

[1, 2, 3, [4, 5, 6, 7, 8, 9], [4, 5, 6, 7, 8, 9], 7, 8, 9, 1, 2, 3]

### 리스트 정렬 .sort() 오름차순 .sort(reverse=True) 내림차순
* 실행 즉시 원본 데이터를 바꿈

In [35]:
a = [1, 6, 7, 4, 5, 7, 9, 4, 5, 754, 9]

In [37]:
a.sort()
a

[1, 4, 4, 5, 5, 6, 7, 7, 9, 9, 754]

In [39]:
a

[1, 4, 4, 5, 5, 6, 7, 7, 9, 9, 754]

In [41]:
# 역순 정렬
a.sort(reverse=True)

In [43]:
a

[754, 9, 9, 7, 7, 6, 5, 5, 4, 4, 1]

### sorted(리스트) 오름차순, sorted(리스트, reverse=True) 내림차순 
* 결과 변경 안됨,, 변경값 확인만 하고 싶을 때

In [44]:
b = [1, 6, 7, 4, 5, 7, 9, 4, 5, 754, 9]

In [45]:
sorted(b)

[1, 4, 4, 5, 5, 6, 7, 7, 9, 9, 754]

In [46]:
b

[1, 6, 7, 4, 5, 7, 9, 4, 5, 754, 9]

In [48]:
sorted(b, reverse=True)

[754, 9, 9, 7, 7, 6, 5, 5, 4, 4, 1]

In [50]:
b

[1, 6, 7, 4, 5, 7, 9, 4, 5, 754, 9]

# 튜플 tuple
* 튜플은 리스트처럼 모든 자료형을 넣어 만들 수 있다.
* 순서가 있는 자료형, 인덱스가 있다.
* 인덱싱, 슬라이싱 가능
* 자료의 추가 삭제가 안 됨
* ()안에 자료를 넣어서 만든다.
* 튜플 형변환 함수는 tuple()
* 자료 1개만 넣어서 만들 수 있다. (1,) 형식이어야 한다.
* 튜플 생성시 자료가 2개 이상인 경우 ()는 생략 가능

In [53]:
t = (1, 2, 3)
t

(1, 2, 3)

In [55]:
t[0]

1

In [56]:
t[::-1]

(3, 2, 1)

In [57]:
t.append()

AttributeError: 'tuple' object has no attribute 'append'

In [58]:
t2 = (4, 5, 6)

## 튜플 + 튜플 = 두 개의 튜플의 요소가 하나로 합쳐진다.

In [59]:
t + t2

(1, 2, 3, 4, 5, 6)

In [60]:
tuple([1,2,3,4,5])

(1, 2, 3, 4, 5)

In [62]:
t

(1, 2, 3)

In [63]:
t.insert(2, 4)

AttributeError: 'tuple' object has no attribute 'insert'

* list와 같이, 특정 값의 인덱스를 찾는 것은 가능

In [64]:
t.index(2)

1

* list와 같이 특정 값을 개수를 세는 것도 가능

In [ ]:
t.count(1)

* 튜플에 자료를 추가하고 싶을 때
* list로 형변환 후 다시 tuple로 형변환 하면 된다

In [66]:
t

(1, 2, 3)

In [67]:
t = list(t)
t

[1, 2, 3]

In [68]:
t.extend([4,5,6])

In [69]:
t

[1, 2, 3, 4, 5, 6]

In [70]:
t = tuple(t)
t

(1, 2, 3, 4, 5, 6)

* 튜플에 자료를 1개만 넣고 만들 때
* (자료,)

In [72]:
t3 = ("튜플")
print(t3, type(t3))

튜플 <class 'str'>

* 괄호를 생략하고 튜플 만들기

In [73]:
t5 = "튜플", "괄호 없이", "만들기", 222
t5

('튜플', '괄호 없이', '만들기', 222)

In [75]:
print(t5, type(t5))

('튜플', '괄호 없이', '만들기', 222) <class 'tuple'>

# 시퀀스 객체 (자료형)
* 문자열, 리스트, 튜플 같은 순서가 있는 자료형 : 시퀀스 자료형
* 순서가 있고, 인덱스 번호가 부여되며 인덱싱, 슬라이싱이 가능
* 반복문에 시퀀스 자료형을 그대로 넣어서 반복시키는 것이 가능

특정값이 있는지 확인 in, not in

In [100]:
t2

(4, 5, 6)

In [101]:
4 in t2

True

In [102]:
7 in t2

False

In [104]:
c = "시퀀스 자료형은 in, not in을 자료가 내부에 있는지 확인 가능하다."

In [106]:
"자료" in c

True

In [107]:
"확인" in c

True

In [108]:
list_01 = [1,2,3,4,5]
3 in list_01

True

* 시퀀스 객체는 + 연산자를 이용해서 서로 연결이 가능

In [109]:
"시퀀스" + "자료형"

'시퀀스자료형'

In [110]:
[1,2,3,4] + [5,6,7,8]

[1, 2, 3, 4, 5, 6, 7, 8]

In [111]:
(1,2,3,4) + (5,6,7,8)

(1, 2, 3, 4, 5, 6, 7, 8)

* 시퀀스 객체는 * 로 반복 가능

In [112]:
"=" * 50

'=================================================='

In [113]:
[1, 2, 3] * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [114]:
(4, 5, 6) * 3

(4, 5, 6, 4, 5, 6, 4, 5, 6)

In [115]:
for i in "문자열은 반복문에서 사용 가능":
    print(i)

문
자
열
은

반
복
문
에
서

사
용

가
능

In [116]:
for i in [1, 2, 3, 4]:
    print(i)

1
2
3
4

In [118]:
t1 = (1,2,3,4,5)
for i in t1:
    print(i)

1
2
3
4
5

* 리스트, 튜플은 sum(), max(), min()과 같은 함수로 연산도 가능

In [120]:
t1

(1, 2, 3, 4, 5)

In [119]:
sum(t1)

15

In [121]:
max(t1)

5

In [122]:
min(t1)

1