# 딕셔너리 사용하기
* dict타입, JSON형이라고도 함
* web에서 자료를 주고 받을 때 주로 사용하는 형식
* key : value 쌍으로 이루어진 자료형
* key를 호출하면 value가 나온다.
* key에는 list, dict를 제외한 자료형이 올 수 있다.
* value에는 모든 자료형의 자료가 들어갈 수 있다.

## 딕셔너리 만들기
* 중괄호 안에 key : value 쌍으로 만든다
* 빈 딕셔너리 생성 가능{}
* dict() 함수를 이용해서 대량의 딕셔너리 생성 가능

In [2]:
d = {'년월' : '20250314', '국가': '미국', '방문자수': 1000}
d

{'년월': '20250314', '국가': '미국', '방문자수': 1000}

In [7]:
d['국가']

'미국'

In [8]:
d2 = {}
print(d2, type(d2))

{} <class 'dict'>

## dict key의 자료형
* 문자열, 정수, 실수, 블린(True, False), tuple
* dict, list는 key가 될 수 없다

In [9]:
d3 = {'백': 100, 100:'백', 3.5:[3.5, 3.7], False:0, (0, "서울"): "종로구"}

In [10]:
d3

{'백': 100, 100: '백', 3.5: [3.5, 3.7], False: 0, (0, '서울'): '종로구'}

In [11]:
d3[3.5]

[3.5, 3.7]

In [13]:
d3[False]

0

In [15]:
d3[(0, '서울')]

'종로구'

## 딕셔너리 value의 자료형
* value는 모든 자료형이 올 수 있다.

In [16]:
d4 = {'정수' : 100, '실수' : 3.5, "문자열" : '딕셔너리의 값', 
      '리스트' : [1,2,3,4], '튜플' : (1,2,3,4), 
      '딕셔너리' : {'key' : 'value'}, '블린' : True}

In [17]:
d4

{'정수': 100,
 '실수': 3.5,
 '문자열': '딕셔너리의 값',
 '리스트': [1, 2, 3, 4],
 '튜플': (1, 2, 3, 4),
 '딕셔너리': {'key': 'value'},
 '블린': True}

In [22]:
d4['정수']

100

In [20]:
d4['실수']

3.5

In [24]:
d4['리스트'][2]

3

In [26]:
d4['딕셔너리']['key']

'value'

## 빈 딕셔너리 만들기
* 변수 = {}
* 변수 = dict()

In [27]:
d5 = {}
print(d5, type(d5))

{} <class 'dict'>

In [29]:
d6 = dict()
print(d6, type(d6))

{} <class 'dict'>

## 딕셔너리에 자료 추가하기
* 변수['key'] = value
* 이미 key가 있는 경우에는 자료가 수정됨

In [31]:
d5['번호'] = 0

In [32]:
d5

{'번호': 0}

In [35]:
# 이미 key가 있는 경우 다른 자료를 넣으면 자료가 수정됨
d5['번호'] = 5
d5

{'번호': 5}

## 딕셔너리에서 key가 중복되면 나중에 들어온 key로 내용이 변경됨

In [36]:
d7 = {'번호' : 0, "이름": "홍길동", "나이" : 30, 
      '번호' : 1, "이름": "둘리", "나이": 15}
d7

{'번호': 1, '이름': '둘리', '나이': 15}

## dict 함수를 사용해서 dict 만들기

* dict(key1=value1, key2=value2, key3=value3)
* key에 ', " 를 사용하지 않음
* key는 모두 문자형으로 변환된다
* value가 문자형 자료면 반드시 "" 필요함

In [38]:
dict_ex1 = dict (정수 = 100, 실수 = 3.5, 문자="문자열",
                리스트=[1,2,3], 튜플=(1,2,3), 
                딕셔너리 = {'key','value'})

In [39]:
dict_ex1

{'정수': 100,
 '실수': 3.5,
 '문자': '문자열',
 '리스트': [1, 2, 3],
 '튜플': (1, 2, 3),
 '딕셔너리': {'key', 'value'}}

* dict ([(key1, value1), (key2, value2)])
* 리스트 안에 key, value 쌍으로 된 튜플을 넣어서 만듦

In [43]:
dict_ex2 = dict([('정수', 3), ('실수', 3.5), 
                 ('문자열', "문자열입니다."), ("list", [1,2,3]),
                ("tuple", (1,2,3)),
                ("dict", {"key" : "value"})])

In [44]:
dict_ex2['실수']

3.5

* dict(zip([key1, key2], [value1, value2]))
* key 묶음 리스트와 value 묶음 리스트를 zip 함수로 합친 후 dict 생성
* key 묶음의 요소 개수와 value 묶음의 요소 개수가 일치해야 함

In [48]:
for a in [1, 2, 3]:
    print(a)

1
2
3

In [47]:
for a in zip([1,2,3,4], [5,6,7,8], [9,10,11,12]):
    print(a)

(1, 5, 9)
(2, 6, 10)
(3, 7, 11)
(4, 8, 12)

In [51]:
dict_ex3 = dict(zip(['정수','실수','문자열','리스트','튜플','딕셔너리'],
                   [10, 13.5, "문자열입니다.", [123], (123), {10:30}]))

In [53]:
dict_ex3

{'정수': 10,
 '실수': 13.5,
 '문자열': '문자열입니다.',
 '리스트': [123],
 '튜플': 123,
 '딕셔너리': {10: 30}}

## 딕셔너리에서 값 삭제하기
* del 변수명['key']

In [55]:
del dict_ex3['딕셔너리']

KeyError: '딕셔너리'

In [57]:
dict_ex3

{'정수': 10, '실수': 13.5, '문자열': '문자열입니다.', '리스트': [123], '튜플': 123}

In [59]:
dict_ex3['리스트']

[123]

## 딕셔너리 안에 특정 key가 있는지 확인하기

In [61]:
'리스트' in dict_ex3

True

## 딕셔너리 안에 key가 몇 개 있는지 확인하기

In [62]:
len(dict_ex3)

5

## 딕셔너리 함수 사용하기

### setdefault(key, value)
* 딕셔너리에 key와 value를 추가
* key가 중복되면 나중에 추가하는 값을 무시함 (원래 자료 보존)
* key만 넣고 value를 생략하면 자동으로 'None'이 입력됨

In [63]:
d['년월'] = 2020412

In [64]:
d

{'년월': 2020412, '국가': '미국', '방문자수': 1000}

In [66]:
d.setdefault('년월', 20250314)

2020412

In [68]:
d

{'년월': 2020412, '국가': '미국', '방문자수': 1000}

### update(key=value)
* 기존에 key가 있는 경우 값을 새로운 값으로 update
* 기존에 key가 없는 경우 새로운 key, value 생성
* key 부분은 '," 사용하지 않는다.

In [70]:
d.update(방문자수=500)
d

{'년월': 2020412, '국가': '미국', '방문자수': 500}

In [72]:
d.update(바람='강함')

In [74]:
d

{'년월': 2020412, '국가': '미국', '방문자수': 500, '바람': '강함'}

## 딕셔너리에서 value를 가져오는 함수 .get()
* .get(key, key가 없을 때 기본 값)
* 딕셔너리 내에 key가 있다가 없다가를 반복하는 경우

## 딕셔너리에서 key, value, (key, value)를 가져오는 함수
* keys(): 딕셔너리에서 key만 출력
* values(): 딕셔너리에서 value만 출력
* items() : 딕셔너리의 key와 value를 튜플 묶음 형태로 출력 (key, value)

In [77]:
data = {'info': [{'name': 'Alice', 'scores': (95, 88, 92)},
                 {'name': 'Bob', 'scores': (78, 85, 89)}],
        'extra': {'hobbies': ['reading', 'coding'], 
                  'location': ('Seoul', 'Busan')}}
data

{'info': [{'name': 'Alice', 'scores': (95, 88, 92)},
  {'name': 'Bob', 'scores': (78, 85, 89)}],
 'extra': {'hobbies': ['reading', 'coding'], 'location': ('Seoul', 'Busan')}}

In [81]:
data.keys()

dict_keys(['info', 'extra'])

In [82]:
type(data.keys())

dict_keys

In [83]:
for i in data.keys():
     print(i)

info
extra

* values() : 딕셔너리에서 value만 추출
* list()로 형변환을 해주면 list처럼 사용 가능
* 반복문에서 사용 가능

In [85]:
data.values()

dict_values([[{'name': 'Alice', 'scores': (95, 88, 92)}, {'name': 'Bob', 'scores': (78, 85, 89)}], {'hobbies': ['reading', 'coding'], 'location': ('Seoul', 'Busan')}])

In [89]:
list(data.values())[0][0]['name']

'Alice'

In [91]:
for i in data.values():
    print(i, end="\n\n")

[{'name': 'Alice', 'scores': (95, 88, 92)}, {'name': 'Bob', 'scores': (78, 85, 89)}]

{'hobbies': ['reading', 'coding'], 'location': ('Seoul', 'Busan')}

In [1]:
for i in data:
    print(i)

NameError: name 'data' is not defined

In [ ]:
for key, value in d.items():
    print("key", key, end="\n\n")
    print("value", value, end="\n\n")

* items(): key, value 를 튜플 형태의 쌍으로 출력
* list() 형변환을 통해서 list처럼 사용 가능

In [95]:
data.items()

dict_items([('info', [{'name': 'Alice', 'scores': (95, 88, 92)}, {'name': 'Bob', 'scores': (78, 85, 89)}]), ('extra', {'hobbies': ['reading', 'coding'], 'location': ('Seoul', 'Busan')})])

In [97]:
for item in d.items():
    print(item, end="\n\n")

('년월', 2020412)

('국가', '미국')

('방문자수', 500)

('바람', '강함')

* 딕셔너리에서 데이터 삭제하기 pop

In [98]:
d

{'년월': 2020412, '국가': '미국', '방문자수': 500, '바람': '강함'}

In [100]:
del d['년월']

KeyError: '년월'

In [101]:
d.pop()

TypeError: pop expected at least 1 argument, got 0

In [103]:
d.pop('바람')

KeyError: '바람'

In [104]:
d

{'국가': '미국', '방문자수': 500}