# 반복문 for, while
* 반복문은 동일한 작업을 여러 번 반복해야 할 경우 사용
* for, while 두 종류의 반복문이 있음
* for는 **반복 횟수가 정해져 있는 경우 사용**
* while은 반복 횟수가 정해져 있지 않은 경우 **(무한 반복)** 사용

## for 반복문: 반복할 횟수가 정해져 있는 경우
for 변수1, 변수2 in 반복할 객체/자료(문자열, 리스트, 튜플, 딕셔너리): <br>
____반복할 코드

In [ ]:
# 숫자 생성 함수 range(시작, 끝, step)

In [2]:
# for문을 이용해서 숫자 1-10을 출력
for num in range(1, 11):
    print(num, end=" ")

1 2 3 4 5 6 7 8 9 10

* 순서가 있는 자료형(문자열, 리스트, 튜플) + 순서는 없지만 dict도 가능

In [5]:
# 문자열
for char in "파이썬은 문자열을 반복문에 넣어 출력 가능":
    print(char, end="")

파이썬은 문자열을 반복문에 넣어 출력 가능

In [8]:
# 리스트
for l_item in [1,2,3,"사", "오", [6,7,8], (8,9,10), {"key":"value"}]:
    print(l_item)

1
2
3
사
오
[6, 7, 8]
(8, 9, 10)
{'key': 'value'}

In [10]:
# 튜플
for l_item in (1,2,3,"사", "오", [6,7,8], (8,9,10), {"key":"value"}):
    print(l_item)

1
2
3
사
오
[6, 7, 8]
(8, 9, 10)
{'key': 'value'}

In [12]:
d = dict(이름="홍길동", 나이=40, 주소="서울", 전화번호="010-1111-1111")

In [14]:
d

{'이름': '홍길동', '나이': 40, '주소': '서울', '전화번호': '010-1111-1111'}

In [16]:
for item in d:
    print(item)

이름
나이
주소
전화번호

In [19]:
for item in d:
    print(d.get(item, "key 없음"))

홍길동
40
서울
010-1111-1111

* for 반복문을 이용해서 1부터 10까지 정수를 더한 합을 출력하세요
    * 1부터 10까지 숫자를 만들어서 반복문에 넣는다.
    * 1부터 10까지 누적 덧셈을 한다.
    * 누적 덧셈을 한 결과를 출력한다.

In [28]:
hap = 0
for num in range(1,11):
   # print(num, end=" ")
    print(f"hap: {hap} +num: {num}", end=": ")
    hap += num #hap = hap + num
    print(f"{hap}")

hap: 0 +num: 1: 1
hap: 1 +num: 2: 3
hap: 3 +num: 3: 6
hap: 6 +num: 4: 10
hap: 10 +num: 5: 15
hap: 15 +num: 6: 21
hap: 21 +num: 7: 28
hap: 28 +num: 8: 36
hap: 36 +num: 9: 45
hap: 45 +num: 10: 55