# 파이썬 기초 문법
* 파이썬의 주석은 문장 앞에 #을 붙여서 만든다.
* 파이썬은 들여쓰기를 사용해서 코드를 구분해 작성한다.
* 들여쓰기는 4칸이 기본, google colab은 2칸..
* 변수를 만들 때 스네이크 표기법을 사용한다. ex) user_name 
* 예외) 클래스를 만들 때는 카멜 표기법을 사용한다.ex) UserName / like 낙타등

# print 문
* print 함수 안에 있는 내용을 출력해주는 함수
* print(출력할 내용)
* print(1) / 출력할 내용이 숫자인 경우, 변수인 경우 따옴표 X
* print("hello world") / 출력할 내용이 문자, 문자열인 경우 반드시 따옴표 필요. 단, "", '' 모두 사용 가능

In [1]:
print(1)

1

In [3]:
print(3.14)

3.14

In [4]:
print("파")

파

In [5]:
print('파이썬')

파이썬

In [6]:
# 따옴표까지 같이 출력하고 싶을 때는 섞어서 
print("이것은 '파이썬'이다.")

이것은 '파이썬'이다.

In [1]:
# 따옴표까지 같이 출력하고 싶을 때는 섞어서 
print('이것은 "파이썬"다.')

이것은 "파이썬"다.

In [2]:
print('이것은 "김영훈" 이다.')

이것은 "김영훈" 이다.

# print 문의 옵션
* sep: 구분자 - print 문 안에 여러개의 자료를 출력할 때 자료를 구분해주는 문자
* 기본값은 " " 공백

In [8]:
print("이것은", '파이썬', '입니다.')

이것은 파이썬 입니다.

In [9]:
print("이것은", '파이썬', '입니다.', sep="_")

이것은_파이썬_입니다.

In [3]:
print("헐크", '아이언맨', '스파이더맨', sep=" vs ")

헐크 vs 아이언맨 vs 스파이더맨

In [6]:
print("김영훈", "이주연", "이재현", sep=" vs ")

김영훈 vs 이주연 vs 이재현

In [13]:
print("헐크", '아이언맨', '스파이더맨', sep=" vs ")
print("헐크", '아이언맨', '스파이더맨', sep=" vs ")

헐크 vs 아이언맨 vs 스파이더맨
헐크 vs 아이언맨 vs 스파이더맨

In [14]:
# end 값을 공백 " "으로 준 경우
print("헐크", '아이언맨', '스파이더맨', sep=" vs ", end=" ")
print("헐크", '아이언맨', '스파이더맨', sep=" vs ")

헐크 vs 아이언맨 vs 스파이더맨 헐크 vs 아이언맨 vs 스파이더맨

In [15]:
# end 값을 공백 "\t" (tap) 으로 준 경우
print("헐크", '아이언맨', '스파이더맨', sep=" vs ", end="\t")
print("헐크", '아이언맨', '스파이더맨', sep=" vs ")

헐크 vs 아이언맨 vs 스파이더맨	헐크 vs 아이언맨 vs 스파이더맨

In [17]:
# end 값을 공백 "\r" (carrige return) 으로 준 경우
print("헐크", '아이언맨', '스파이더맨', sep=" vs ", end="\r")
print("스파이더맨", '아이언맨', '헐크', sep=" vs ")

스파이더맨 vs 아이언맨 vs 헐크

In [20]:
# end 값을 공백 "\n" (new line) 으로 준 경우.. html (br)과 같음
print("헐크", '아이언맨', '스파이더맨', sep=" vs ", end="\n\n")
print("스파이더맨", '아이언맨', '헐크', sep=" vs ")

헐크 vs 아이언맨 vs 스파이더맨

스파이더맨 vs 아이언맨 vs 헐크

In [24]:
# end 값을 공백 "\n" (new line) 으로 준 경우.. html (br)과 같음
print("헐크", 1, 3.14, sep="-", end="\n\n")
print("스파이더맨", '아이언맨', '헐크', sep=" vs ")

헐크-1-3.14

스파이더맨 vs 아이언맨 vs 헐크

* end 옵션 - print가 끝나고 실행될 옵션
* 기본값 = \n - 이스케이프 문자 new line 새줄

# 함수의 옵션보기
* 함수의 옵션은 괄호 안에 커서를 놓고 shift + tab으로 볼 수 있다.

In [ ]:
# shift + tab
print()

# 변수
* 자료를 담는 택배 상자
* 택배 상자는 1개만 넣을 수 있다.
* 변수는 영문과 숫자를 조합해서 만들 수 있다.
* 변수명의 시작은 반드시 영문자로 시작 or _로 시작
* 변수명이 숫자로 시작하거나 -등의 특수문자로 시작하면 오류
* 예약어 (이미 파이썬에서 사용하고 있는 함수명, 문법용 단어.. ex) for, list, if, id)는 변수명으로 사용할 수 없다. 
    * 주의!! 예약어를 써도 파이썬에서는 변수가 만들어진다.
    * 그러므로 예약어를 잘 기억해두자!!

* 변수명은 스네이크 표기법으로 만든다.
* 변수명 = 자료
* = 는 같다라는 표시가 X , 등호 오른쪽의 자료를 왼쪽 변수에 할당(넣는다)

# 변수에는 자료가 1개만 들어간다.

In [31]:
a = 1
print(a)

1

In [34]:
a = 3
print(a)

3

In [36]:
c = "문자열은 길이에 상관없이 들어가요"
print(c)

문자열은 길이에 상관없이 들어가요

In [38]:
# 변수명은 스네이크 표기법으로 만든다.
user_name = "핀테크님"
print(user_name)

핀테크님

In [40]:
user_name

'핀테크님'

In [52]:
#따옴표로 감싸고 있을 경우 문자임.
b = "3"

In [53]:
print(a, b)

3 3

In [54]:
a

3

In [55]:
b

'3'

# 변수 여러 개를 한 번에 만들기

In [57]:
a = 1
b = 3

In [7]:
a, b, c = 1, 3, "오"

In [8]:
a, b, c = "이재현", 29, 179

In [9]:
print(a, b, c)

이재현 29 179

# 변수 삭제하기 del 변수명

In [62]:
b_ = 24

In [63]:
del b_

In [64]:
b_

NameError: name 'b_' is not defined