# 반복문 for, while
* 반복문은 동일한 작업을 여러 번 반복해야 할 경우 사용
* for, while 두 종류의 반복문이 있음
* for는 **반복 횟수가 정해져 있는 경우 사용**
* while은 반복 횟수가 정해져 있지 않은 경우 **(무한 반복)** 사용

## for 반복문: 반복할 횟수가 정해져 있는 경우
for 변수1, 변수2 in 반복할 객체/자료(문자열, 리스트, 튜플, 딕셔너리): <br>
____반복할 코드

In [ ]:
# 숫자 생성 함수 range(시작, 끝, step)

In [ ]:
# for문을 이용해서 숫자 1-10을 출력
for num in range(1, 11):
    print(num, end=" ")

* 순서가 있는 자료형(문자열, 리스트, 튜플) + 순서는 없지만 dict도 가능

In [1]:
# 문자열
for char in "파이썬은 문자열을 반복문에 넣어 출력 가능":
    print(char, end="")

파이썬은 문자열을 반복문에 넣어 출력 가능

In [1]:
# 리스트
for l_item in [1,2,3,"사", "오", [6,7,8], (8,9,10), {"key":"value"}]:
    print(l_item)

1
2
3
사
오
[6, 7, 8]
(8, 9, 10)
{'key': 'value'}

In [ ]:
# 튜플
for l_item in (1,2,3,"사", "오", [6,7,8], (8,9,10), {"key":"value"}):
    print(l_item)

In [ ]:
d = dict(이름="홍길동", 나이=40, 주소="서울", 전화번호="010-1111-1111")

In [ ]:
d

In [ ]:
for item in d:
    print(item)

In [ ]:
for key in d:
    print(d[key])

In [ ]:
d.values()

In [ ]:
for vlaue in d.values():
    print(value)

In [ ]:
d.items()

In [ ]:
for key,value in d:
    print("key", key, "value", value)

In [ ]:
for item in d:
    print(d.get(item, "key 없음"))

* for 반복문을 이용해서 1부터 10까지 정수를 더한 합을 출력하세요
    * 1부터 10까지 숫자를 만들어서 반복문에 넣는다.
    * 1부터 10까지 누적 덧셈을 한다.
    * 누적 덧셈을 한 결과를 출력한다.

In [ ]:
hap = 0
for num in range(1, 11):
#print(num)
    
    hap = hap + num
    print(hap)

In [ ]:
hap = 0
for num in range(1,11):
   # print(num, end=" ")
    print(f"hap: {hap} +num: {num}", end=": ")
    hap += num #hap = hap + num
    print(f"{hap}")

* 1부터 50까지 수 중에서 짝수인 수의 합을 구하시오.
* 1-50 수를 만들기 (range(1-51))
* 홀수, 짝수 구분 if, % 2 == 0
* 짝수일 때 누적 합, 결과 저장할 변수 hap
* 최종 결과 출력

In [ ]:
hap = 0
for num in range(1, 51):
    #print(num, end=" ")
    if num % 2 == 0:
        print(f"hap: {hap}, num: {num}")
        hap += num
    print(hap)

* 1부터 100까지 수를 만들고 그 중에서 30-70까지만 더해서 출력하세요
* 과정 출력
* 2가지 방법을 이용해서 코드 작성 if 조건문, 슬라이싱

In [ ]:
hap = 0
for num in range(1, 101):
    #print(num, end=" ")
    if 30 <= num <= 70:
        print(f"hap: {hap}, num: {num}")
        hap += num
        print(hap)

In [ ]:
hap = 0
for num in range(1, 101):
    #print(num, end=" ")
    if 30 <= num <= 70:
        print(f"hap: {hap}, num: {num}")
        hap += num
        print(hap)

In [ ]:
hap = 0
for num in range(1, 100)[29:70]:
    #print(num, end=" ")
    print(f"hap: {hap}, num: {num}")
    hap += num
print(hap)

In [ ]:
#인덱싱에 2를 추가로 주어 짝수만 가져오기
for num in range(1, 100)[29:70:2]:
    print(num, end=" ")

* 100에서 1까지 더하는 반복문을 만드세요.
* range에서 역순으로 숫자를 생성
* range(1, 101)을 뒤집는 방법 2가지

In [ ]:
hap = 0
for num in range(100, 1)[100:0]:
    #print(num)
    hap += num
    print(hap)

In [ ]:
#1번
hap = 0
for num in range(100, 0, -1):
    #print(num, end=" ")
    hap += num
print(hap)

In [ ]:
#2번
# 슬라이싱을 이용해서 순서 뒤집기
hap = 0
for num in range(1, 101)[::-1]:
    print(num, end=" ")
    hap += num
print(hap)

* reversed() 리스트를 역순으로 뒤집는 함수

In [ ]:
#3번

hap = 0
for num in reversed(range(1, 101)):
    print(num, end=" ")
    hap += num
print(hap)

## enumerate() 자료의 인덱스를 만들어주는 함수

In [ ]:
s = "enumerate 함수는 반복문에서 index를 만들어 출력해주는 함수입니다."

In [ ]:
for i in enumerate(s):
    print(i)

In [ ]:
for idx, i in enumerate(s):
    print(f"현재 반복 횟수: {idx+1}", end="\r")
    print(idx, i)

In [ ]:
import time

In [ ]:
for idx, i in enumerate(s):
    print(f"현재 반복 횟수: {idx+1}/{len(s)}", end="\r")
    #time.sleep(1)
    #print(idx, i)

## continue, break
* continue: 코드 실행을 건너뛰고 반복 계속 진행
* break: 특정 조건이 되었을 때 반복문 정지

In [ ]:
for idx, i in enumerate(s):
   # print(f"현재 반복 횟수: {idx+1}/{len(s)}", end="\r")
    if idx % 2 == 0:#짝수 인덱스는 건너 뛰어라
        continue
    else:
        if idx > 19: #인덱스가 19보다 크면, 멈춰라
            break
        print(idx, i)
    time.sleep(1)
    #print(idx, i)

# while 반복할 횟수가 정해지지 않은 경우
* 무한 반복 가능
* 무한 반복이 되지 않도록 조건식을 잘 짜주는 것이 중요


변수 선언 및 초기화 <br>
while 조건식: <br>
____반복할 코드 <br>
____변수 증가/감소 코드 <br>
____반복문이 종료될 조건 + break <br>

while 문으로 1-10까지 출력하기

In [ ]:
# i = 1
# while i <= 10:
# print(i, end=" ")
# i += 1

* 20에서 1까지 숫자를 더한 값을 출력

In [ ]:
i = 20
hap = 0
while i > 0:
    print(f"hap: {hap}, i:{i}")
    hap += i
    i -=  1
print(hap)

In [ ]:
i = 20
while i <= 100:
    print(i, end=" ")
    i += 1
    print(f{i})

* 1-50 까지 수 중에서 3의 배수이거나, 짝수인 수를 찾아서 더한 값을 출력하세요.
* if 문 사용

In [1]:
i = 1
hap = 0
while i <= 50:
    #print(i, end=" ")
    if i % 3 == 0 or i % 2 == 0:
        print(f"hap: {hap}, i:{i}")
        hap += i
    i += 1
print(hap)

hap: 0, i:2
hap: 2, i:3
hap: 5, i:4
hap: 9, i:6
hap: 15, i:8
hap: 23, i:9
hap: 32, i:10
hap: 42, i:12
hap: 54, i:14
hap: 68, i:15
hap: 83, i:16
hap: 99, i:18
hap: 117, i:20
hap: 137, i:21
hap: 158, i:22
hap: 180, i:24
hap: 204, i:26
hap: 230, i:27
hap: 257, i:28
hap: 285, i:30
hap: 315, i:32
hap: 347, i:33
hap: 380, i:34
hap: 414, i:36
hap: 450, i:38
hap: 488, i:39
hap: 527, i:40
hap: 567, i:42
hap: 609, i:44
hap: 653, i:45
hap: 698, i:46
hap: 744, i:48
hap: 792, i:50
842

## while의 무한반복 
* while 뒤의 조건이 true인 경우 무한 반복
* while 문 내에서 if 조건문으로 break를 걸어주어야 멈춤

In [ ]:
# 무한 반복
while True:
    print("무한반복": end = " ")

* 무한 반복 후 while 문 내에서 조건을 주어 멈추기

In [2]:
i = 1
while True:
    print(i, "조건 반복", end = " ")
    if i >= 100:
        break
    i += 1

1 조건 반복 2 조건 반복 3 조건 반복 4 조건 반복 5 조건 반복 6 조건 반복 7 조건 반복 8 조건 반복 9 조건 반복 10 조건 반복 11 조건 반복 12 조건 반복 13 조건 반복 14 조건 반복 15 조건 반복 16 조건 반복 17 조건 반복 18 조건 반복 19 조건 반복 20 조건 반복 21 조건 반복 22 조건 반복 23 조건 반복 24 조건 반복 25 조건 반복 26 조건 반복 27 조건 반복 28 조건 반복 29 조건 반복 30 조건 반복 31 조건 반복 32 조건 반복 33 조건 반복 34 조건 반복 35 조건 반복 36 조건 반복 37 조건 반복 38 조건 반복 39 조건 반복 40 조건 반복 41 조건 반복 42 조건 반복 43 조건 반복 44 조건 반복 45 조건 반복 46 조건 반복 47 조건 반복 48 조건 반복 49 조건 반복 50 조건 반복 51 조건 반복 52 조건 반복 53 조건 반복 54 조건 반복 55 조건 반복 56 조건 반복 57 조건 반복 58 조건 반복 59 조건 반복 60 조건 반복 61 조건 반복 62 조건 반복 63 조건 반복 64 조건 반복 65 조건 반복 66 조건 반복 67 조건 반복 68 조건 반복 69 조건 반복 70 조건 반복 71 조건 반복 72 조건 반복 73 조건 반복 74 조건 반복 75 조건 반복 76 조건 반복 77 조건 반복 78 조건 반복 79 조건 반복 80 조건 반복 81 조건 반복 82 조건 반복 83 조건 반복 84 조건 반복 85 조건 반복 86 조건 반복 87 조건 반복 88 조건 반복 89 조건 반복 90 조건 반복 91 조건 반복 92 조건 반복 93 조건 반복 94 조건 반복 95 조건 반복 96 조건 반복 97 조건 반복 98 조건 반복 99 조건 반복 100 조건 반복

* 무한 반복이 되는 조건: True
* True가 되는 경우: 1, 정수, 실수, 문자열, list, tuple, dict, True
* False가 되는 경우: 0, 0.0, "",'', {}, [], (), False

In [14]:
101 <= 100

False

In [15]:
i = 1
while " ":
    print(i, "김영훈 얼차려 반복")
    if i >= 100:
        break
    i += 1

1 김영훈 얼차려 반복
2 김영훈 얼차려 반복
3 김영훈 얼차려 반복
4 김영훈 얼차려 반복
5 김영훈 얼차려 반복
6 김영훈 얼차려 반복
7 김영훈 얼차려 반복
8 김영훈 얼차려 반복
9 김영훈 얼차려 반복
10 김영훈 얼차려 반복
11 김영훈 얼차려 반복
12 김영훈 얼차려 반복
13 김영훈 얼차려 반복
14 김영훈 얼차려 반복
15 김영훈 얼차려 반복
16 김영훈 얼차려 반복
17 김영훈 얼차려 반복
18 김영훈 얼차려 반복
19 김영훈 얼차려 반복
20 김영훈 얼차려 반복
21 김영훈 얼차려 반복
22 김영훈 얼차려 반복
23 김영훈 얼차려 반복
24 김영훈 얼차려 반복
25 김영훈 얼차려 반복
26 김영훈 얼차려 반복
27 김영훈 얼차려 반복
28 김영훈 얼차려 반복
29 김영훈 얼차려 반복
30 김영훈 얼차려 반복
31 김영훈 얼차려 반복
32 김영훈 얼차려 반복
33 김영훈 얼차려 반복
34 김영훈 얼차려 반복
35 김영훈 얼차려 반복
36 김영훈 얼차려 반복
37 김영훈 얼차려 반복
38 김영훈 얼차려 반복
39 김영훈 얼차려 반복
40 김영훈 얼차려 반복
41 김영훈 얼차려 반복
42 김영훈 얼차려 반복
43 김영훈 얼차려 반복
44 김영훈 얼차려 반복
45 김영훈 얼차려 반복
46 김영훈 얼차려 반복
47 김영훈 얼차려 반복
48 김영훈 얼차려 반복
49 김영훈 얼차려 반복
50 김영훈 얼차려 반복
51 김영훈 얼차려 반복
52 김영훈 얼차려 반복
53 김영훈 얼차려 반복
54 김영훈 얼차려 반복
55 김영훈 얼차려 반복
56 김영훈 얼차려 반복
57 김영훈 얼차려 반복
58 김영훈 얼차려 반복
59 김영훈 얼차려 반복
60 김영훈 얼차려 반복
61 김영훈 얼차려 반복
62 김영훈 얼차려 반복
63 김영훈 얼차려 반복
64 김영훈 얼차려 반복
65 김영훈 얼차려 반복
66 김영훈 얼차려 반복
67 김영훈 얼차려 반복
68 김영훈 얼차려 반복
69 김영훈 얼차려 반복
70 김영훈 얼차려 반복
71 김영훈 얼차려 반복
72 김영훈 얼차려 반복
73 김영훈 얼차려 반복
74 김영훈 얼차려 반복
75 김영훈 얼차려 반복
76 김영훈 얼차려 반복
77 김영훈 얼차려 반복
78 김영훈 얼차려 반복
79 김영훈 얼차려 반복
80 김영훈 얼차려 반복
81 김영훈 얼차려 반복
82 김영훈 얼차려 반복
83 김영훈 얼차려 반복
84 김영훈 얼차려 반복
85 김영훈 얼차려 반복
86 김영훈 얼차려 반복
87 김영훈 얼차려 반복
88 김영훈 얼차려 반복
89 김영훈 얼차려 반복
90 김영훈 얼차려 반복
91 김영훈 얼차려 반복
92 김영훈 얼차려 반복
93 김영훈 얼차려 반복
94 김영훈 얼차려 반복
95 김영훈 얼차려 반복
96 김영훈 얼차려 반복
97 김영훈 얼차려 반복
98 김영훈 얼차려 반복
99 김영훈 얼차려 반복
100 김영훈 얼차려 반복

# 중첩 반복문
* 반복문을 2개 이상 겹쳐서 사용
* 바늘 시계의 원리와 같음
* 안쪽 반복문이 끝난 후 바깥쪽 반복문이 실행
* 초침 -> 분침 -> 시침

* 구구단 만들기 2중 중첩 for 문
* 2단 - 9단
* 1-9
* 2 * 1 = 2

In [20]:
for num1 in range(2, 10):
 #   print(num1)
    for num2 in range(1, 10):
        print(f"{num1} x {num2} = ", num1*num2)

2 x 1 =  2
2 x 2 =  4
2 x 3 =  6
2 x 4 =  8
2 x 5 =  10
2 x 6 =  12
2 x 7 =  14
2 x 8 =  16
2 x 9 =  18
3 x 1 =  3
3 x 2 =  6
3 x 3 =  9
3 x 4 =  12
3 x 5 =  15
3 x 6 =  18
3 x 7 =  21
3 x 8 =  24
3 x 9 =  27
4 x 1 =  4
4 x 2 =  8
4 x 3 =  12
4 x 4 =  16
4 x 5 =  20
4 x 6 =  24
4 x 7 =  28
4 x 8 =  32
4 x 9 =  36
5 x 1 =  5
5 x 2 =  10
5 x 3 =  15
5 x 4 =  20
5 x 5 =  25
5 x 6 =  30
5 x 7 =  35
5 x 8 =  40
5 x 9 =  45
6 x 1 =  6
6 x 2 =  12
6 x 3 =  18
6 x 4 =  24
6 x 5 =  30
6 x 6 =  36
6 x 7 =  42
6 x 8 =  48
6 x 9 =  54
7 x 1 =  7
7 x 2 =  14
7 x 3 =  21
7 x 4 =  28
7 x 5 =  35
7 x 6 =  42
7 x 7 =  49
7 x 8 =  56
7 x 9 =  63
8 x 1 =  8
8 x 2 =  16
8 x 3 =  24
8 x 4 =  32
8 x 5 =  40
8 x 6 =  48
8 x 7 =  56
8 x 8 =  64
8 x 9 =  72
9 x 1 =  9
9 x 2 =  18
9 x 3 =  27
9 x 4 =  36
9 x 5 =  45
9 x 6 =  54
9 x 7 =  63
9 x 8 =  72
9 x 9 =  81

* 반복문 3개로 시계 만들기
* 초 00 - 59
* 분 00 - 59
* 시 00 - 23

In [6]:
import time

In [8]:
for si in range(0, 24):
    for bun in range(0, 60):
        #print(bun)
        for cho in range(0, 60):
            print(f"{si:02d}:{bun:02d}:{cho:02d}", end="\r")
            #time.sleep(0.2)

KeyboardInterrupt:

## 중첩 반복문을 사용해서 다중리스트 출력하기

In [15]:
l1 = []

In [32]:
l1.append(list(range(1,11)))

In [33]:
l1

[[1, 2, 3, 4, 5],
 [1, 2, 3, 4, 5],
 [1, 2, 3, 4, 5],
 [1, 2, 3, 4, 5],
 [1, 2, 3, 4, 5],
 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]]

In [25]:
print(l1[0][0])
print(l1[0][1])
print(l1[0][2])
print(l1[0][3])
print(l1[0][4])
print(l1[1][0])
print(l1[1][1])
print(l1[1][2])
print(l1[1][3])
print(l1[1][4])

1
2
3
4
5
1
2
3
4
5

In [29]:
for item1 in l1:
    #print(item1)
    for item2 in item1:
        print(item2)

1
2
3
4
5
1
2
3
4
5
1
2
3
4
5
1
2
3
4
5
1
2
3
4
5

l1 리스트에 있는 모든 요소를 l2 리스트에 넣으세요

In [41]:
l2 = []

for item1 in l1:
    for item2 in item1:
        l2.append(item2)
        
print(l2)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

* 리스트에 동물 이름이 저장되어 있다. 여기서 동물 이름의 첫글자만 출력하세요
* animal = ['dog', 'cat', 'parrot']
* for 반복문을 이용하세요

In [42]:
animal = ['dog', 'cat', 'parrot']
animal

['dog', 'cat', 'parrot']

In [49]:
# animal 리스트 만들고 확인
# 요소 한 개씩 꺼내기 for
# 앞글자 한 개 출력하기 - 인덱싱 
for name in animal:
    print(name[0])

d
c
p

* 리스트에서 세 글자 이상의 문자를 화면에 출력하라 <br>
L2 = ["I", "study", "python", "language", "!"] <br>
study <br>
python <br>
language <br>

In [ ]:
# L2 리스트 만들기
# for 문으로 자료 1개씩 꺼내기
# 1개씩 꺼내온 자료의 길이를 재서 (len()) 3 이상인 것만 출력

In [50]:
L2 = ["I", "study", "python", "language", "!"]
L2

['I', 'study', 'python', 'language', '!']

In [52]:
for i in L2:
  #  print(i)
    if len(i) >= 3:
        print(i)

study
python
language

리스트에 저장된 데이터를 아래와 같이 출력하세요 <br>
101호 <br>
102호 <br>
201호 <br>
202호 <br>
301호 <br>
303호 <br>

In [1]:
apart = [[101, 102], [201, 202], [301, 302]]

In [2]:
# list에서 자료를 for문으로 1개씩 꺼내기
# 꺼낸 자료를 다시 for문에 넣어서 안쪽 자료 꺼내기
# 자료 + "호" 붙여서 출력하기
for home in apart:
    #print(home)
    for home2 in home:
        #print(home2)
        print(f"{home2}호")

101호
102호
201호
202호
301호
302호

In [3]:
# 층 있는 바깥 리스트의 순서를 역순 정렬
# 반복문으로 하나씩 꺼내기
# 꺼낸 자료 다시 반복문에 넣고 출력, "호" 붙이기
for home in apart[::-1]:
    #print(home)
    for home2 in home:
        #print(home2)
        print(f"{home2}호")

301호
302호
201호
202호
101호
102호

In [7]:
# 층 있는 바깥 리스트의 순서를 역순 정렬
# 반복문으로 하나씩 꺼내기
# 꺼낸 자료 다시 반복문에 넣고 출력, "호" 붙이기
for home in reversed(apart):
    #print(home)
    for home2 in home:
        #print(home2)
        print(f"{home2}호")

301호
302호
201호
202호
101호
102호