# 함수만들기
* print(), split(), input() => 함수
* 함수의 괄호 안에 값을 넣으면 출력을 해주거나 입력을 받거나 변환을 해줌
* 만들어져 있는 도구
* funcntion 기능
* 자주 사용하는 기능을 미리 만들어서 **반복 재사용**을 할 수 있게 만든 것

In [138]:
# 리스트의 자료에 10을 곱해서 다시 리스트로 출력하세요.
# result = [10, 20, 30, 40]
t = [1, 2, 3, 4]
result = []
for i in t:
    result.append(i*10) # 빈 리스트인 result에 요소 추가
result

[10, 20, 30, 40]

In [139]:
def mul10(num):   #실행 안 됨, 메모리에 저장되어 있음
    result_in_func = []
    for i in num:
        result_in_func.append(i*10)
    print(result_in_func)
    return result_in_func

In [140]:
t

[1, 2, 3, 4]

In [14]:
result = mul10(t)
result

[10, 20, 30, 40]

In [16]:
t2 = list(range(53))
t2

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52]

In [13]:
mul10(t)

[10, 20, 30, 40]

In [17]:
mul10(t2)

[0,
 10,
 20,
 30,
 40,
 50,
 60,
 70,
 80,
 90,
 100,
 110,
 120,
 130,
 140,
 150,
 160,
 170,
 180,
 190,
 200,
 210,
 220,
 230,
 240,
 250,
 260,
 270,
 280,
 290,
 300,
 310,
 320,
 330,
 340,
 350,
 360,
 370,
 380,
 390,
 400,
 410,
 420,
 430,
 440,
 450,
 460,
 470,
 480,
 490,
 500,
 510,
 520]

# 함수 만드는 법
def 함수이름(변수명1, 변수명2,...): <br>
____실행코드<br>
____return 반환할 값(결과)<br>

In [19]:
def hello():
    print("Hello python 함수 만들기")

In [22]:
hello2()

hello2 파이썬 함수 만들기

# 함수 호출 순서
* 함수는 호출하기 전에 반드시 먼저 정의되어야 하고 (만들어 놓아야 함)
* 함수 정의가 함수 실행보다 위에 있어야 한다.

In [21]:
def hello2():
    print("hello2 파이썬 함수 만들기")

In [23]:
hello2()

hello2 파이썬 함수 만들기

# 함수의 매개변수
* 함수의 ()안에 받는 값을 저장하는 변수
* ()안에 값을 받아서 함수 내에서 처리할 때 사용

* 매개변수 1개짜리 함수

In [36]:
# 원의 넓이를 구하는 함수 - 반지름 * 반지름 * 3.14
def circle(c): #매개변수가 c 하나
    print(f"반지름의 길이가 {c}인 원의 넓이는: {c*c*3.14} 입니다.")

In [37]:
#반지름이 3인 원의 넓이
circle(3)

반지름의 길이가 3인 원의 넓이는: 28.26 입니다.

* 매개변수 ２개짜리 함수 덧셈 함수 만들기

In [38]:
def add(a, b): #매개변수가 a, b 두 개
    return a + b

In [39]:
result = add(10, 3)
print(result)

13

In [41]:
circle_result = circle(5)
print(circle_result)

반지름의 길이가 5인 원의 넓이는: 78.5 입니다.
None

* 매개변수 3개짜리 함수
* num_maker라는 함수를 매개변수 3개를 이용해서 만드세요
* 숫자를 3개 입력받아 첫번째 숫자는 시작숫자, 두번째 숫자는 끝숫자, 마지막 숫자는 step으로 작동하게 하세요

* 먼저 숫자를 생성한 결과를 출력하고
* 숫자 리스트에 *10한 결과를 다시 출력하세요
* num_maker(1, 11, 2)
* 결과: 1, 3, 5, 7, 9

In [48]:
def num_maker(a, b, c):
    result = list(range(a, b, c))
    result2 = []
    print(result)
    for i in result:
        result2.append(i*10)
    print(result2)
    return result, result2

In [49]:
num_maker(1, 11, 2)

[1, 3, 5, 7, 9]
[10, 30, 50, 70, 90]

([1, 3, 5, 7, 9], [10, 30, 50, 70, 90])

# 리턴 값이 여러개인 함수

In [50]:
def add_sub(a, b):
    add = a + b
    sub = a - b
    return add, sub

In [54]:
add_result, sub_result = add_sub(3, 5) #튜플로 출력되는 결과를 변수를 지정하여 따로 출력할 수 있음
print(add_result, sub_result)

8 -2

In [55]:
result = add_sub(3, 5)
print (result[0], result[1])

8 -2

* num_maker2 - 정방향, 역방향 리스트가 출력되는 함수
* 3개의 숫자를 입력받아서 숫자 리스트를 만들고
* 리스트 + 3을 한 결과를 리스트로 반환
* 한 번은 정방향으로 출력
* 또 한 번은 역방향으로 출력

In [4]:
def num_maker2(start, end, step):
    list_result = list(range(start, end, step))
    reversed_list = list_result[::-1]
#     print(list_result, reserved_list)
    return list_result, reversed_list

In [5]:
result = num_maker2(3, 20, 2)
print(result)

([3, 5, 7, 9, 11, 13, 15, 17, 19], [19, 17, 15, 13, 11, 9, 7, 5, 3])

In [8]:
# for i in result:
#     for j in i:
#         print(j)

## 중간에 함수를 종료시키기 위한 용도의 return
* 반복문에서 break 처럼 활용 가능
* 함수 내에서 return 실행시, 함수 종료

* 1에서 100까지 숫자 중에서 짝수만 더해서 출력하세요
* 단, 숫자가 50 이상이 되면 멈추세요
* 더해지는 과정도 출력

In [28]:
def even(num): #num이라는 변수에 1부터 100까지 저장
#     print(num)
    hap = 0
    for i in num:
        if i < 50:
            if i % 2 == 0:
                hap += i
                print(hap, end=" ")
        else:
            break
    return hap
#         print(e_result + 2)
#         return(e_result)

In [29]:
even(list(range(1, 101)))

2 6 12 20 30 42 56 72 90 110 132 156 182 210 240 272 306 342 380 420 462 506 552 600

600

In [37]:
def even2(num): #num이라는 변수에 1부터 100까지 저장
#     print(num)
    hap = 0
    for i in num:
        if i < 50:
            if i % 2 == 0:
                print(f"{i}+{hap}=", end="")
                hap += i
                print(hap, end=" ")
        else:
            return hap

In [39]:
even2(list(range(1, 101)))

2+0=2 4+2=6 6+6=12 8+12=20 10+20=30 12+30=42 14+42=56 16+56=72 18+72=90 20+90=110 22+110=132 24+132=156 26+156=182 28+182=210 30+210=240 32+240=272 34+272=306 36+306=342 38+342=380 40+380=420 42+420=462 44+462=506 46+506=552 48+552=600

600

* 점수를 입력받아서 91-100 A학점, 81-90 B학점, 71-80 C학점, 61-70 D학점 60이하는 F학점을 출력하는 student_grade 함수를 만드세요.

* 점수를 입력받아야 함 input()
* student_grade 함수에 입력받은 값을 넣어주기
* student_grade 함수에서는 입력받은 값을 비교해서 학점 출력

In [3]:
def student_grade(score): #score는 매개변수
#     score = int(input("점수를 입력하세요: "))
    if 91 <= score <= 100:
        return "A학점"
    elif 81 <= score <= 90:
        return "B학점"
    elif 71 <= score <= 80:
        return "C학점"
    elif 61 <= score <= 70:
        return "D학점"
    else:
        return "F학점"

In [4]:
mark = int(input("점수를 입력하세요"))
result = student_grade(mark)
print(result)

점수를 입력하세요69
D학점

## 인수: 함수에 집어넣는 자료 (매개변수에 넣는 자료)
#### 위치인수(positional argument): 
* 위치가 고정된 인수
#### 가변위치인수(args, Variable-length Arguments):
* 여러개의 자료를 넣을 수 있는 인수, 제한 없음
#### 키워드 인수(keyword arguments):
* 매개변수에 이름을 명시해서 인수를 넣어주는 것
#### 가변 키워드 인수(kwargs, variable-length keyword argument):
* 키워드 인수를 숫자 제한 없이 넣는 경우

* 위치인수
* 넣는 수서와 개수를 일치시켜야만 함

In [2]:
def print_nums(a, b, c):
    print(a, b, c)

In [7]:
print_nums(1, 5)

TypeError: print_nums() missing 1 required positional argument: 'c'

In [3]:
l1 = [1, 2, 3]
print_nums(l1)

TypeError: print_nums() missing 2 required positional arguments: 'b' and 'c'

In [7]:
print(l1)
print(*l1)

[1, 2, 3]
1 2 3

* 가변위치인수
* 자료를 개수의 제한 없이 넣을 수 있는 인수

In [14]:
def print_nums(*nums):
    print(nums, type(nums))
    for i in nums:
        print(i, end=" ")

In [15]:
print_nums(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10) <class 'tuple'>
1 2 3 4 5 6 7 8 9 10

In [16]:
print(1, 2, 3, 4, 5, 6, 7)

1 2 3 4 5 6 7

* my_sum
* 여러개의 숫자를 입력받으면 합계를 구해주는 함수

In [35]:
def my_sum(*args): #변수명은 네 맘대로하라긔
    hap = 0
    for i in args:
        hap += i
    return(hap)

In [38]:
# 사용방식 1
result = my_sum(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print(result)

55

In [40]:
print(*list(range(1, 11)))

1 2 3 4 5 6 7 8 9 10

In [42]:
# 사용방식 2
my_sum(*list(range(1, 11)))

55

* 위치인수와 가변인수 동시에 받기
* 위치인수와 가변인수를 동시에 받을 때는 반드시 위치인수가 먼저 와야 한다.
* def muls(a, *args): OK
* def muls(*args, a): X

In [ ]:
# 정수와 리스트를 입력받아 리스트의 요소에 입력받은 정수를 곱하는 함수

In [49]:
def muls(a, *args):
    print(a, args)
    result = []
    for num in args:
        result.append(a*num)
    return result

In [50]:
l2 = [1, 2, 3, 4, 5]

In [51]:
muls(2, l2)

2 ([1, 2, 3, 4, 5],)

[[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]]

In [52]:
muls(2, *l2)

2 (1, 2, 3, 4, 5)

[2, 4, 6, 8, 10]

In [59]:
def muls(*args, a):
    print(a, args)
    result = []
    for num in args:
        result.append(a*num)
    return result

In [60]:
muls(*l2, 3)

TypeError: muls() missing 1 required keyword-only argument: 'a'

* 키워드 인수
* 매개변수 이름을 직접 입력하고 자료를 할당하는 것

In [61]:
print(1, 2, 3, sep=" vs ", end="!!")

1 vs 2 vs 3!!

* 개인 정보를 출력하는 함수

In [64]:
def personal_info(name, age, address):
    print("이름: ", name)
    print("나이: ", age)
    print("주소: ", address)

In [65]:
personal_info('홍길동', 30, "서울시")

이름:  홍길동
나이:  30
주소:  서울시

* 키워드 인수는 기본값 설정 가능

In [66]:
def personal_info(name, age, address="안알려줌"):
    print("이름: ", name)
    print("나이: ", age)
    print("주소: ", address)

In [67]:
personal_info(age=30, name='홍길동')

이름:  홍길동
나이:  30
주소:  안알려줌

* 딕셔너리 언패킹
* 딕셔너리 앞에 **을 붙여서 딕셔너리 언패킹 가능
* **{"address": '서울시 강남구', "name": "홍길동", "age": 30}

In [70]:
personal_info(**{"address": '서울시 강남구', "name": "홍길동", "age": 30})

이름:  홍길동
나이:  30
주소:  서울시 강남구

* 키워드 가변인수<br>
* def 함수이름(**kwargs): <br>

In [74]:
def personal_info2(**kwargs):
    print(kwargs)
    key = list(kwargs.keys())
    value = list(kwargs.values())
    print(key)
    print(value)

In [75]:
personal_info2(address="서울시", name="홍길동") #딕셔너리로 저장

{'address': '서울시', 'name': '홍길동'}
['address', 'name']
['서울시', '홍길동']

* 위치인수와 키워드 가변인수 같이 사용하기
* 위치인수 다음에 키워드 가변 인수가 옴

In [77]:
def personal_info3(num, **kwargs):
    print(kwargs)
    key = list(kwargs.keys())
    value = list(kwargs.values())
    print(num)
    print(key)
    print(value)

In [80]:
personal_info3(1, address="서울시", name="홍길동")

{'address': '서울시', 'name': '홍길동'}
1
['address', 'name']
['서울시', '홍길동']

* 가변인수와 키워드 가변인수 함께 쓰기
* 가변인수 => 키워드 가변인수 순으로 쓴다
* def 함수명 (*args, **kwargs)

In [81]:
def custom_print(*args, **kwargs):
#     print(args, kwargs)
    print(*args, **kwargs)

In [83]:
custom_print(1,2,3, sep="||", end="!!")

(1, 2, 3) {'sep': '||', 'end': '!!'}

In [84]:
print(1,2,3, sep="||", end="!!")

1||2||3!!

#### 매개변수 = 함수에서 자료를 받을 때 사용하는 변수
* 위치인수(a): 위치가 고정된 매개변수, 위치인수는 키워드 인수로 사용가능(변수명=값)
* 가변인수(*args): 여러 개의 자료를 동시에 받을 수 있음 => tuple로 변환되어 들어옴
* 키워드 가변인수(**kwargs): 여러 개의 자료를 동시에 받을 수 있는데 key=value 형태로 받는 인수 => dict로 들어옴

* 매개변수의 초기값 지정하기
* 초기값이 지정된 매개변수는 반드시 마지막에 위치해야 함
<br><br>
* 위치인수, 키워드인수, 가변인수, 키워드 가변인수를 동시에 다 사용할 경우
* 위치인수 => 키워드 인수(기본값), 가변인수, 키워드 가변인수 순서로 사용

In [87]:
def personal_info6(idx, address="비공개", *args, **kwargs):
    print(f"idx:{idx}")
    print(f"address:{address}")
    print(f"*args:{args}")
    print(f"**kwargs:{kwargs}")

In [90]:
personal_info6(1, "서울", 30, 40, 50, 이름="홍길동", 성별="남자") #키워드인수로 서울이 들어감

idx:1
address:서울
*args:(30, 40, 50)
**kwargs:{'이름': '홍길동', '성별': '남자'}

* 함수 doc 스트링 사용하기
* 함수의 기능을 설명하거나 사용법을 함수 내에 적어놓는 것
* def 함수이름(매개변수):<br>
  """ 독스트링으로 설명 """
* docstringd은 함수 실행시에는 출력되지 않음
* print(함수이름.__doc__)
* help(함수이름)

In [91]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [92]:
print(print.__doc__)

print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.

In [93]:
help(open)

Help on function open in module io:

open(file, mode='r', buffering=-1, encoding=None, errors=None, newline=None, closefd=True, opener=None)
    Open file and return a stream.  Raise OSError upon failure.

    file is either a text or byte string giving the name (and the path
    if the file isn't in the current working directory) of the file to
    be opened or an integer file descriptor of the file to be
    wrapped. (If a file descriptor is given, it is closed when the
    returned I/O object is closed, unless closefd is set to False.)

    mode is an optional string that specifies the mode in which the file
    is opened. It defaults to 'r' which means open for reading in text
    mode.  Other common values are 'w' for writing (truncating the file if
    it already exists), 'x' for creating and writing to a new file, and
    'a' for appending (which on some Unix systems, means that all writes
    append to the end of the file regardless of the current seek position).
    In text mode, if encoding is not specified the encoding used is platform
    dependent: locale.getpreferredencoding(False) is called to get the
    current locale encoding. (For reading and writing raw bytes use binary
    mode and leave encoding unspecified.) The available modes are:

    ========= ===============================================================
    Character Meaning
    --------- ---------------------------------------------------------------
    'r'       open for reading (default)
    'w'       open for writing, truncating the file first
    'x'       create a new file and open it for writing
    'a'       open for writing, appending to the end of the file if it exists
    'b'       binary mode
    't'       text mode (default)
    '+'       open a disk file for updating (reading and writing)
    'U'       universal newline mode (deprecated)
    ========= ===============================================================

    The default mode is 'rt' (open for reading text). For binary random
    access, the mode 'w+b' opens and truncates the file to 0 bytes, while
    'r+b' opens the file without truncation. The 'x' mode implies 'w' and
    raises an `FileExistsError` if the file already exists.

    Python distinguishes between files opened in binary and text modes,
    even when the underlying operating system doesn't. Files opened in
    binary mode (appending 'b' to the mode argument) return contents as
    bytes objects without any decoding. In text mode (the default, or when
    't' is appended to the mode argument), the contents of the file are
    returned as strings, the bytes having been first decoded using a
    platform-dependent encoding or using the specified encoding if given.

    'U' mode is deprecated and will raise an exception in future versions
    of Python.  It has no effect in Python 3.  Use newline to control
    universal newlines mode.

    buffering is an optional integer used to set the buffering policy.
    Pass 0 to switch buffering off (only allowed in binary mode), 1 to select
    line buffering (only usable in text mode), and an integer > 1 to indicate
    the size of a fixed-size chunk buffer.  When no buffering argument is
    given, the default buffering policy works as follows:

    * Binary files are buffered in fixed-size chunks; the size of the buffer
      is chosen using a heuristic trying to determine the underlying device's
      "block size" and falling back on `io.DEFAULT_BUFFER_SIZE`.
      On many systems, the buffer will typically be 4096 or 8192 bytes long.

    * "Interactive" text files (files for which isatty() returns True)
      use line buffering.  Other text files use the policy described above
      for binary files.

    encoding is the name of the encoding used to decode or encode the
    file. This should only be used in text mode. The default encoding is
    platform dependent, but any encoding supported by Python can be
    passed.  See the codecs module for the list of supported encodings.

    errors is an optional string that specifies how encoding errors are to
    be handled---this argument should not be used in binary mode. Pass
    'strict' to raise a ValueError exception if there is an encoding error
    (the default of None has the same effect), or pass 'ignore' to ignore
    errors. (Note that ignoring encoding errors can lead to data loss.)
    See the documentation for codecs.register or run 'help(codecs.Codec)'
    for a list of the permitted encoding error strings.

    newline controls how universal newlines works (it only applies to text
    mode). It can be None, '', '\n', '\r', and '\r\n'.  It works as
    follows:

    * On input, if newline is None, universal newlines mode is
      enabled. Lines in the input can end in '\n', '\r', or '\r\n', and
      these are translated into '\n' before being returned to the
      caller. If it is '', universal newline mode is enabled, but line
      endings are returned to the caller untranslated. If it has any of
      the other legal values, input lines are only terminated by the given
      string, and the line ending is returned to the caller untranslated.

    * On output, if newline is None, any '\n' characters written are
      translated to the system default line separator, os.linesep. If
      newline is '' or '\n', no translation takes place. If newline is any
      of the other legal values, any '\n' characters written are translated
      to the given string.

    If closefd is False, the underlying file descriptor will be kept open
    when the file is closed. This does not work when a file name is given
    and must be True in that case.

    A custom opener can be used by passing a callable as *opener*. The
    underlying file descriptor for the file object is then obtained by
    calling *opener* with (*file*, *flags*). *opener* must return an open
    file descriptor (passing os.open as *opener* results in functionality
    similar to passing None).

    open() returns a file object whose type depends on the mode, and
    through which the standard file operations such as reading and writing
    are performed. When open() is used to open a file in a text mode ('w',
    'r', 'wt', 'rt', etc.), it returns a TextIOWrapper. When used to open
    a file in a binary mode, the returned class varies: in read binary
    mode, it returns a BufferedReader; in write binary and append binary
    modes, it returns a BufferedWriter, and in read/write mode, it returns
    a BufferedRandom.

    It is also possible to use a string or bytearray as a file for both
    reading and writing. For strings StringIO can be used like a file
    opened in a text mode, and for bytes a BytesIO can be used like a file
    opened in a binary mode.

In [94]:
help(personal_info6)

Help on function personal_info6 in module __main__:

personal_info6(idx, address='비공개', *args, **kwargs)

In [95]:
def add(a, b):
    """
    이 함수는 a와 b를 더한 뒤 결과를 반환하는 함수입니다.
    """
    return a + b

In [96]:
help(add)

Help on function add in module __main__:

add(a, b)
    이 함수는 a와 b를 더한 뒤 결과를 반환하는 함수입니다.

# 람다 표현식(lambda expression)
* 익명 함수(함수 이름이 없음)
* 간단한 함수를 작성하거나 다른 함수의 인수로 함수를 넣을 때 사용
* 사용 후 메모리에서 삭제
* lambda 매개변수: return할 값, 계산

In [98]:
# print(globals())

In [99]:
# 자료 1개를 입력받아 10을 더해서 리턴하는 함수
def plus_ten(x):
    return x + 10

In [100]:
plus_ten(5)

15

In [107]:
(lambda x: x+10)(5)

15

In [111]:
# 숫자를 넣어서 홀수 짝수 구분하는 람다함수
(lambda x: "짝수" if x%2 == 0 else "홀수")(17)

'홀수'

In [105]:
plus_five = (lambda x: x+10)

In [112]:
plus_five(5)

15

* 1에서 10까지의 숫자 중에서 3의 배수만 문자열로 바꾸기

In [116]:
def tostr(x):
    result=[] # 빈 리스트 만들기
    for i in x:
        if i % 3 == 0:
            result.append(str(i)) # 3의 배수만 문자로 변환
        else:
            result.append(i)
    return result

In [117]:
result_str = tostr(list(range(1, 11)))
print(result_str)

[1, 2, '3', 4, 5, '6', 7, 8, '9', 10]

In [125]:
help(map)

Help on class map in module builtins:

class map(object)
 |  map(func, *iterables) --> map object
 |
 |  Make an iterator that computes the function using arguments from
 |  each of the iterables.  Stops when the shortest iterable is exhausted.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [127]:
(lambda x: str(x) if x % 3 == 0 else x)(18)

'18'

In [124]:
a = list(map(str, list(range(1, 11))))
print(type(a[0]))
a

<class 'str'>

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

In [129]:
a = list(map((lambda x: str(x) if x % 3 == 0 else x), list(range(1, 11))))
print(type(a[0]))
a

<class 'int'>

[1, 2, '3', 4, 5, '6', 7, 8, '9', 10]

In [131]:
a = list(map(tostr, list(range(1, 11))))
print(result_str)

TypeError: 'int' object is not iterable

In [132]:
a = [1,2,3,4,5]
b = [2,4,6,8,10]
c = [3,6,9,12,15]

In [133]:
result = []
for x, y, z in zip(a, b, c):
    result.append(x * y * z)
result

[6, 48, 162, 384, 750]

In [135]:
list(map(lambda x, y, z: x * y * z, a, b, c))

[6, 48, 162, 384, 750]