# 딕셔너리 사용 연습문제 30개

1. **빈 딕셔너리 `empty_dict`를 생성하고 출력하세요.**

In [15]:
empty_dict = {}
#empty_dict = dict()

2. **다음과 같은 딕셔너리를 생성하고 출력하세요.**  
   ```python
   person = {"name": "Alice", "age": 25, "city": "Seoul"}
 
   ```

In [16]:
person = dict(name="Alice", age=25, city="Seoul")
person

{'name': 'Alice', 'age': 25, 'city': 'Seoul'}

In [7]:
person = dict([("name", "Alice"), ("age", 25), ("city", "Seoul")])
person

{'name': 'Alice', 'age': 25, 'city': 'Seoul'}

In [9]:
person = dict(zip(["name", "age", "city"], ["Alice", 25, "Seoul"]))
person

{'name': 'Alice', 'age': 25, 'city': 'Seoul'}

In [2]:
person = {"name": "Alice", "age": 25, "city": "seoul"}
person

{'name': 'Alice', 'age': 25, 'city': 'seoul'}

3. **딕셔너리 `person`에서 `"name"` 키의 값을 출력하세요.**  
```python
Alice
```

In [17]:
person["name"]

'Alice'

In [11]:
person.get("name", "key 없음")

'Alice'

4. **딕셔너리 `person`에서 `"age"` 키의 값을 출력하세요.**  
   ```python
   25
   ```

In [18]:
person.get("age", "key 없음")

25

In [4]:
person["age"]

25

5. **딕셔너리 `person`에 `"job": "Engineer"`를 추가하고 출력하세요.**  
   ```python
   {"name": "Alice", "age": 25, "city": "Seoul", "job": "Engineer"}
   ```

In [19]:
person["job"] = "Engineer"
person

{'name': 'Alice', 'age': 25, 'city': 'Seoul', 'job': 'Engineer'}

In [14]:
person.setdefault("job", "Engineer")

'Engineer'

6. **딕셔너리 `person`에서 `"city"`의 값을 `"Busan"`으로 변경하고 출력하세요.**  
   ```python
{"name": "Alice", "age": 25, "city": "Busan", "job": "Engineer"}
   
   ```

In [20]:
person.update(city="Busan")
person

{'name': 'Alice', 'age': 25, 'city': 'Busan', 'job': 'Engineer'}

In [6]:
person["city"] = "Busan"
person

{'name': 'Alice', 'age': 25, 'city': 'Busan', 'job': 'Engineer'}

7. **딕셔너리 `person`에서 `"age"` 키를 삭제하고 출력하세요.**  
   ```python
   {"name": "Alice", "city": "Busan", "job": "Engineer"}
   ```

In [21]:
person.pop("age")

25

In [7]:
del person["age"]

In [8]:
person

{'name': 'Alice', 'city': 'Busan', 'job': 'Engineer'}

8. **딕셔너리 `person`의 모든 키를 출력하세요.**  
   ```python
   dict_keys(['name', 'city', 'job'])
   ```

In [22]:
for key in person:
    print(key)

name
city
job

In [9]:
person.keys()

dict_keys(['name', 'city', 'job'])

9. **딕셔너리 `person`의 모든 값(value)을 출력하세요.**  
   ```python
   dict_values(['Alice', 'Busan', 'Engineer'])
   ```

In [33]:
for i in person:
    print(person[i])

Alice
Busan
Engineer

In [10]:
person.values()

dict_values(['Alice', 'Busan', 'Engineer'])

10. **딕셔너리 `person`의 모든 키-값 쌍을 출력하세요.**  
    ```python
    dict_items([('name', 'Alice'), ('city', 'Busan'), ('job', 'Engineer')])
    ```

In [25]:
person.items()

dict_items([('name', 'Alice'), ('city', 'Busan'), ('job', 'Engineer')])

In [29]:
for i in person:
    print((i, person[i]))

('name', 'Alice')
('city', 'Busan')
('job', 'Engineer')

In [30]:
dict_items = []
for i in person:
    dict_items.append((i, person[i]))
dict_items

[('name', 'Alice'), ('city', 'Busan'), ('job', 'Engineer')]

11. **`"email"` 키가 딕셔너리 `person`에 존재하는지 확인하세요.**  
    ```python
 False
    ```

In [12]:
"email" in person

False

12.**`person`에서 `"job"`을 제거하고 출력하세요.**  
    
```python
"Engineer",
{'name': 'Alice', 'city': 'Busan'}
```

In [13]:
del person["job"]

In [14]:
person

{'name': 'Alice', 'city': 'Busan'}

13. **`person` 딕셔너리의 모든 키-값 쌍을 초기화하고 출력하세요.**  
    ```python
    {}
    ```

In [35]:
person.clear()

14. **중첩 딕셔너리를 student 변수에 생성하고 출력하세요.**  
```python
{"name": "Bob",
 "grades": {"math": 85, "science": 90, "history": 80}
}
```

In [44]:
student = {"name": "Bob",
 "grades": {"math": 85, "science": 90, "history": 80}
}
student

{'name': 'Bob', 'grades': {'math': 85, 'science': 90, 'history': 80}}

15.**student에서 "science" 점수를 출력하세요.**  
```python
90
```

In [45]:
student["grades"]["science"]

90

16. **`student`의 `"grades"`에 `"english": 95`를 추가하고 출력하세요.**  
    ```python
    {'math': 85, 'science': 90, 'history': 80, 'english': 95}
    ```

In [46]:
student["grades"].update(english=95)

In [47]:
student["grades"]

{'math': 85, 'science': 90, 'history': 80, 'english': 95}

17. **`student`의 `"math"` 점수를 88로 변경하고 출력하세요.**  
    ```python
    {'math': 88, 'science': 90, 'history': 80, 'english': 95}
    ```

In [48]:
student["grades"]["math"] = 88

In [49]:
student

{'name': 'Bob',
 'grades': {'math': 88, 'science': 90, 'history': 80, 'english': 95}}

18. **`student`에서 `"history"` 점수를 삭제하고 출력하세요.**  
    ```python
    {'math': 88, 'science': 90, 'english': 95}
    ```

In [50]:
student.pop('history')
student

KeyError: 'history'

In [51]:
del student["grades"]["history"]

In [52]:
student

{'name': 'Bob', 'grades': {'math': 88, 'science': 90, 'english': 95}}

19. **딕셔너리 `student`에서 setdefault를 이용하여 `"total"`이란 키를 만들고 math, science, english의 합계를 입력하세요. 단, 합계를 구할 때 값을 수동입력 하지 말고 딕셔너리에서 추출해서 더하도록 하세요.**  
    ```python
    {'name': 'Bob',
    'grades': {'math': 85, 'science': 90, 'english': 95},
    'total': 270}
    ```

In [55]:
student

{'name': 'Bob', 'grades': {'math': 88, 'science': 90, 'english': 95}}

In [61]:
grades = list(student['grades'].values())
sum(grades)

273

In [62]:
sum(student['grades'].values())

273

In [64]:
student.setdefault('total', sum(student['grades'].values()))

273

In [65]:
student

{'name': 'Bob',
 'grades': {'math': 88, 'science': 90, 'english': 95},
 'total': 273}

20. **딕셔너리 `student`에서 update를 이용하여 'english' 는 100, 'history'는 80를 입력하세요.**  
```python
 {'name': 'Bob',
 'grades': {'math': 85, 'science': 90, 'english': 100, 'history': 80},
 'total': 270}
```

In [66]:
student['grades'].update(english=100, history=80)

In [51]:
student["grades"].update(history=80)

In [67]:
student

{'name': 'Bob',
 'grades': {'math': 88, 'science': 90, 'english': 100, 'history': 80},
 'total': 273}

21.**courses라는 변수에 dict() 함수를 사용하여 다음과 같은 딕셔너리를 생성하세요.**
```python
{'programming': {'python': 50, 'java': 30, 'Cpp': 20},
 'design': {'Photoshop': 25, 'Illustrator': 15}}
```

In [68]:
courses = dict(programming= dict(python=50, java=30, Cpp=20),
              design=dict(photoshop=25, illustrator=15))
courses

{'programming': {'python': 50, 'java': 30, 'Cpp': 20},
 'design': {'photoshop': 25, 'illustrator': 15}}

In [54]:
courses = {'programming': {'python': 50, 'java': 30, 'Cpp': 20},
 'design': {'Photoshop': 25, 'Illustrator': 15}}

22. **"python"의 수강생 수를 출력하세요.**  
```python
50
```

In [69]:
courses["programming"]["python"]

50

23. **딕셔너리 `courses`에서 `"Cpp"` 수강생 수를 25로 변경하고 출력하세요.**  
    ```python
    {'python': 50, 'java': 30, 'Cpp': 25}
    ```

In [70]:
courses["programming"]["Cpp"] = 25
courses

{'programming': {'python': 50, 'java': 30, 'Cpp': 25},
 'design': {'photoshop': 25, 'illustrator': 15}}

24. **딕셔너리 `courses`에서 `"Photoshop"` 수강생 수를 삭제하고 출력하세요.**  
    ```python
{'programming': {'python': 50, 'java': 30, 'Cpp': 25},
 'design': {'Illustrator': 15}}
    ```

In [72]:
courses['design'].pop('photoshop')
courses

{'programming': {'python': 50, 'java': 30, 'Cpp': 25},
 'design': {'illustrator': 15}}

25. **딕셔너리 `courses`에서 `"JavaScript": 40`을 `"programming"` 항목에 추가하고 출력하세요.**  
    ```python
    {'python': 50, 'java': 30, 'Cpp': 25, 'JavaScript': 40}
    ```

In [73]:
courses['programming'].setdefault("Javascript", 40)
courses

{'programming': {'python': 50, 'java': 30, 'Cpp': 25, 'Javascript': 40},
 'design': {'illustrator': 15}}

26. **딕셔너리 `courses`의 모든 과목명을 출력하세요.**  
    ```python
    ['python', 'java', 'Cpp', 'Javascript', 'illustrator']
    ```

In [81]:
list(courses['programming'].keys())+list(courses['design'].keys())

['python', 'java', 'Cpp', 'Javascript', 'illustrator']

In [77]:
subject_name = []
for key in courses:
    #print(courses[key].keys())
    for subject in courses[key].keys():
        print(subject)

python
java
Cpp
Javascript
illustrator

In [78]:
courses.keys()

dict_keys(['programming', 'design'])

27. **딕셔너리 `courses`에서 `"design"` 과목의 모든 정보를 출력하세요.**  
    ```python
    {'Illustrator': 15}
    ```

In [64]:
courses["design"]

{'Illustrator': 15}

28. **딕셔너리 `courses`에서 `"design"` 항목을 삭제하고 전체 딕셔너리를 출력하세요.**  
    ```python
    {'programming': {'python': 50, 'java': 30, 'Cpp': 25, 'JavaScript': 40}}
    ```

In [82]:
del courses['design']
courses

{'programming': {'python': 50, 'java': 30, 'Cpp': 25, 'Javascript': 40}}

In [69]:
print("programming" in courses)

True

29. **딕셔너리 `courses`에서 `"programming"` 항목이 존재하는지 확인하세요.**  
    ```python
    True
    ```

In [83]:
"programming" in courses

True

In [86]:
"Cpp" in courses['programming']

True

In [89]:
for key in courses:
    print(courses[key])

{'python': 50, 'java': 30, 'Cpp': 25, 'Javascript': 40}

30. **딕셔너리 `courses`에서 `"design"` 항목을 출력하고 `"design"` 이 없다면 design key 없음 이라고 출력하도록 하세요.** 
```python
design key 없음
```

In [ ]:
courses get

In [66]:
"design" in courses, print("design key 없음")

design key 없음

(True, None)