1.**빈 리스트 `numbers`를 생성하고 출력하세요.**  
   ```python
   []
   ```

In [33]:
numbers = []
numbers

[]

2.**`'numbers'`에 1,2,3,4,5 를 추가하고 출력하세요.**
```python
[1,2,3,4,5]
```

In [34]:
numbers.extend([1,2,3,4,5])
numbers

[1, 2, 3, 4, 5]

3.**리스트 `numbers`에 숫자 `6`을 추가하고 출력하세요.**  
   ```python
   [1, 2, 3, 4, 5, 6]
   ```

In [35]:
numbers.extend([6])
numbers

[1, 2, 3, 4, 5, 6]

4.**`'numbers'` 에 자료 1,2,3,4,5 를 추가하세요. append가 아닌 다른 함수로 추가**
```python
[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5]
```

In [36]:
numbers.extend([1,2,3,4,5])
numbers

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5]

5.**`'numbers'` 에 자료 1,2,3,4,5를 연산자를 이용해 추가하세요.**
```python
[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
```

In [37]:
a = numbers
a

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5]

In [38]:
b = [1,2,3,4,5]
b

[1, 2, 3, 4, 5]

In [39]:
a + b

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

6.**`'numbers'` 의 자료를 2배로 늘리세요.**
```python
[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
```

In [40]:
numbers * 2

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5]

7. **리스트 `numbers`에서 두 번째 요소를 `99`로 변경하고 출력하세요.**  
```python
[1, 99, 3, 4, 5, 6, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
```

In [41]:
numbers[1] = 99

In [42]:
numbers

[1, 99, 3, 4, 5, 6, 1, 2, 3, 4, 5]

8. **리스트 `numbers`에서 마지막 요소를 제거하고 출력하세요.**  
```python
[1, 99, 3, 4, 5, 6, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 1, 2, 3, 4]
```

In [43]:
numbers.pop()
numbers

[1, 99, 3, 4, 5, 6, 1, 2, 3, 4]

9. **리스트 `numbers`에서 `99`를 삭제하고 출력하세요.**
```python
[1, 3, 4, 5, 6, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 1, 2, 3, 4]
```

In [47]:
del numbers[1]

In [48]:
numbers

[1, 4, 5, 6, 1, 2, 3, 4]

10.**리스트 `numbers`에서 4번째 `4`의 인덱스를 출력하고 삭제하세요.**
```python
18
4
[1, 3, 4, 5, 6, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 5, 6, 1, 2, 3, 4, 5, 1, 2, 3, 4]
```

In [49]:
numbers.index(4, 3)

7

11.**리스트 `numbers`에서 `5`의 개수를 출력하세요.**
```python
5
```

In [50]:
numbers.count(5)

1

12. **complex_list 변수에 리스트 `[1, 2, 3, [4, 5, 6], (7, 8, "튜플")]`을 만들고 ``"튜플"`을 출력하세요.**  
```python
[1, 2, 3, [4, 5, 6], (7, 8, '튜플')]
튜플
```

In [90]:
complex_list = [1, 2, 3, [4, 5, 6], (7, 8, '튜플')]
complex_list, print("튜플")

튜플

([1, 2, 3, [4, 5, 6], (7, 8, '튜플')], None)

13. **`complex_list`의 모든 요소를 역순으로 출력하세요.**  
```python
[(7, 8, '튜플'), [4, 5, 6], 3, 2, 1]
```

In [82]:
complex_list.reverse()

In [83]:
complex_list

[(7, 8, '튜플'), [4, 5, 6], 3, 2, 1]

14. **`complex_list`내의 [4,5,6] 리스트를 역순 정렬하고 출력하세요.**  
```python
[1, 2, 3, [6, 5, 4], (7, 8, '튜플')]
```

In [86]:
complex_list[3]index(4,5,6).sort(reverse=True)

SyntaxError: invalid syntax (1131721128.py, line 1)

15. **`complex_list`에서 '튜플'을 삭제하세요**
```python
[1, 2, 3, [6, 5, 4], [7, 8]]
```

In [91]:
del complex_list[4][2]

TypeError: 'tuple' object doesn't support item deletion

16.**변수 t에 튜플 `(10, 20, 30, 40, 50)`을 만들고 최대값과 최소값을 결과 형식에 맞게 출력하세요.**  
```python
(10, 20, 30, 40, 50)
최대값: 50 최솟값: 10
```

In [94]:
t = (10, 20, 30, 40, 50)

In [97]:
print("최대값: ",max(t))

최대값:  50

In [98]:
print("최솟값: ", min(t))

최솟값:  10

17.**튜플 `t`에서 모든 요소의 합을 출력하세요.**  
```python
150
```

In [99]:
sum(t)

150

18.**튜플 `t`에서 두 번째 요소(20)을 `"Python"`으로 변경하고 출력하세요.**  
```python
(10, 'Python', 30, 40, 50)
```

In [103]:
t = list(t)
t

[10, 20, 30, 40, 50]

In [104]:
t[1] = 'python'
t

[10, 'python', 30, 40, 50]

19.**튜플 t에 1,2,3,4,5를 list로 변경 없이 추가하고 출력하세요**
```python
(10, 'Python', 30, 40, 50, 1, 2, 3, 4, 5)
```

In [109]:
t1 = (1,2,3,4,5)
t1

(1, 2, 3, 4, 5)

In [111]:
t = tuple(t)
t

(10, 'python', 30, 40, 50)

In [112]:
t + t1

(10, 'python', 30, 40, 50, 1, 2, 3, 4, 5)

20. **`'튜플 t'`의 요소를 2배로 늘리세요.**
```python
(10, 'Python', 30, 40, 50, 1, 2, 3, 4, 5, 10, 'Python', 30, 40, 50, 1, 2, 3, 4, 5)
```

In [113]:
t * 2

(10, 'python', 30, 40, 50, 10, 'python', 30, 40, 50)