## 파이썬 시작하기 1-10

In [35]:
print("Hello World")

Hello World

In [5]:
print("Mary's cosmetics")

Mary's cosmetics

In [14]:
print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [18]:
print("C:\Windows")

C:\Windows

In [21]:
print("안녕하세요.\n만나서\t\t반갑습니다.")
#\t는 탭, \n은 줄바꿈

안녕하세요.
만나서		반갑습니다.

In [23]:
print("오늘은", "일요일")

오늘은 일요일

In [26]:
print("naver;kakao;sk;samsug")

naver;kakao;sk;samsug

In [28]:
print("naver/kakao/sk/samsung")

naver/kakao/sk/samsung

In [33]:
print("first", end=" "); print("second")

first second

In [36]:
print(5/3)

1.6666666666666667

## 파이썬 변수 11-20

In [40]:
삼성전자 = 50000
총평가금액 = 10 * 삼성전자
print(총평가금액)

500000

In [43]:
시가총액 = "298조"
현재가 = 50000
PER = 15.79
print(시가총액, 현재가, PER)

298조 50000 15.79

In [51]:
s = "hello"
t = "python"
print(s+"!", t)

hello! python

In [53]:
2 + 2 * 3

8

In [56]:
a = "132"
print(type(a))

<class 'str'>

In [63]:
num_str = "720"

In [64]:
# int 는 정수형
num_int = int(num_str)

In [69]:
print(num_int+1, type(num_int))

721 <class 'int'>

In [73]:
# str 은 문자형
num = 100
num_float = str(num)

In [75]:
print(num_float, type(num_float))

100 <class 'str'>

In [81]:
# float은 실수형
num = "15.79"
t = float(num)

In [80]:
print(t, type(t))

15.79 <class 'float'>

In [1]:
year = "2020"
int = int(year)

In [5]:
print(int-1)
print(int-2)
print(int-3)

2019
2018
2017

In [8]:
air = 48584
print("총금액: ", air * 36)

총금액:  1749024

In [10]:
월 = 48584
총금액 = 월 * 36
print(총금액)

1749024

## 파이썬 문자열 21 - 30

In [22]:
letters = 'python'
print(letters[0], letters[2])

p t

In [27]:
license_plate = "24가 2210"
print(license_plate[4:])

2210

In [34]:
string = "홀짝홀짝홀짝"
print(string[::2])

홀홀홀